@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(bootstrap-tagsinput.css);
/* Main Primary color */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e6e6e6;
  font-size: 1.0em;
  color: #ffffff;
}
.fade-in {
  -webkit-animation: fade-in 1s 1;
          animation: fade-in 1s 1;
}
.deleted {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  height: 0px !important;
  overflow: hidden;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box-style {
  -webkit-box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
  border-top: solid 5px #52b119;
  background-color: #ffffff;
}
.login-screen {
  -webkit-animation: fade-in 1s 1;
          animation: fade-in 1s 1;
  border-top: solid 5px #52b119;
  width: 20%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 30%;
  margin-top: 25vh;
  text-align: center;
  background-color: #ffffff;
  padding-top: 3vh;
  padding-bottom: 3vh;
  -webkit-box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
}
footer {
  border-top: solid 1px #52b119;
  bottom: 0px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.menubar {
  width: 100%;
  border-bottom: solid 1px #52b119;
  background-color: #ffffff;
}
.menubar li {
  display: inline-block;
}
.menubar li a {
  color: #418d14;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.menubar li a:hover {
  color: #000000;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.menubar .osc-logo-mb {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  right: 0px;
  height: 60px;
  line-height: 60px;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.menubar .osc-logo-mb:hover {
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
  color: #000000;
}
section {
  width: 65%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 10%;
  margin-top: 5vh;
  margin-bottom: 10vh;
  -webkit-box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
  border-top: solid 5px #52b119;
  background-color: #ffffff;
}
section h1 {
  font-size: 2em;
  color: #ffffff;
  background-color: #52b119;
  border-bottom: solid 4px #418d14;
  text-align: center;
  margin-bottom: 10px;
}
section p {
  margin-bottom: 30px;
}
.list table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-collapse: collapse;
}
.list table tr {
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.list table tr th {
  text-align: center;
  background-color: #52b119;
  color: #ffffff;
}
.list table tr td {
  padding-left: 20px;
}
.list table tr .table-actions {
  text-align: center;
}
.list table tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.3);
}
.images {
  margin-bottom: 30px;
}
.images .g-image {
  width: 30%;
  margin-right: 1vw;
  margin-top: 1vw;
  display: inline-block;
  border: solid 4px #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
.images a {
  font-size: auto;
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.images a:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form-field input[type="submit"] {
  height: 50px;
  background-color: #52b119;
  border: solid 1px #418d14;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-field input[type="submit"]:hover {
  background-color: #75c147;
  border: solid 1px #67a443;
}
.form-field textarea {
  width: 100%;
  min-height: 150px;
  font-size: 1.0em;
  font-family: 'Open Sans', sans-serif;
}
.form-field .tag,
.form-field .label,
.form-field .label-info {
  background-color: #418d14;
  padding: 5px;
  margin: 5px;
}
.form-field .bootstrap-tagsinput {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  font-family: inherit;
  font-size: 1.2em;
}
.form-field .bootstrap-tagsinput input {
  border: none !important;
  display: inline !important;
  width: auto !important;
}
.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field input[type="date"],
.form-field input[type="time"],
.form-field input[type="number"],
.form-field input[type="tel"],
.form-field input[type="url"] {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 1.2em;
}
.form-field label {
  width: 100%;
  text-align: left;
  display: block;
}
.alert {
  width: 77%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3%;
}
.error,
.danger {
  background: #ffc8c8;
  border: solid 1px #820000;
  color: #640000;
}
.warning {
  background: #ffffc8;
  border: solid 1px #828200;
  color: #646400;
}
.success {
  background: #c8ffc8;
  border: solid 1px #008200;
  color: #006400;
}
.info {
  background: #c8c8ff;
  border: solid 1px #000082;
  color: #000064;
}
.btn {
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 10px;
  margin: 10px;
  cursor: pointer;
  color: #ffffff;
}
.btn-delete {
  background-color: #c86464;
  border: solid 1px #963232;
}
.btn-delete:hover {
  background-color: #d38383;
  border: solid 1px #ab5b5b;
}
.btn-add {
  background-color: #64c864;
  border: solid 1px #329632;
}
.btn-add:hover {
  background-color: #83d383;
  border: solid 1px #5bab5b;
}
.quick-data-square {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  text-align: center;
  background-color: #52b119;
  color: #ffffff;
  margin-top: 20px;
}
.quick-data-square .text {
  font-weight: 400;
}
.quick-data-square .value {
  font-size: 3em;
  font-weight: 700;
}
.chart {
  border: solid 2px rgba(153, 153, 153, 0.3);
  min-height: 50vh;
}
