//Stylesheet for OSC v1
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(bootstrap-tagsinput.css);

//Colours:
@flare: rgba( 82,177, 25,1);	/* Main Primary color */
@flare-dark: darken(@flare,8%);
@white: #fff;
@black: #000;
@grey: rgba(0,0,0,0.3);


//------------------------------

*{
	margin: 0px;
	padding: 0px;

}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(230,230,230,1);
	font-size: 1.0em;
	color: @white;
}

//LESS Functions & Animation Modules ------------------------------
.fade-in{
	animation: fade-in 1s 1;

}

.deleted{
	transition:all 1s;
	opacity: 0;
	height: 0px !important;
	overflow: hidden;

}

@keyframes fade-in{
	0%{
		opacity: 0;
	}

	30%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
.box-style{
	box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.1);
	border-top:solid 5px @flare;
	background-color: @white;
}
//---------------------------------------------------------------
.login-screen{
	.fade-in;

	border-top:solid 5px @flare;
	width:20%;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 30%;
	margin-top: 25vh;
	text-align: center;
	background-color: @white;
	padding-top: 3vh;
	padding-bottom: 3vh;
	box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.1);




}

.osc-logo{

}

footer{
	border-top: solid 1px @flare;
	bottom:0px;
	position: fixed;
	background-color: @white;
	width:100%;
	text-align: center;
	line-height: 40px;
}

.menubar{
	width:100%;
	border-bottom:solid 1px @flare;
	background-color: @white;
	li{
		display: inline-block;

		a{
			color:@flare-dark;
			height:60px;
			line-height: 60px;
			text-decoration: none;
			padding-left: 18px;
			padding-right: 18px;
			transition: color 0.6s;

			&:hover{
				color:@black;
				transition: color 0.6s;
			}


		}


	}
	.osc-logo-mb{
		font-weight: 700;
		color:@grey;
		right:0px;
		height:60px;
		line-height: 60px;
		padding-left: 18px;
		padding-right: 18px;
		transition: color 0.6s;

		&:hover{
			transition: color 0.6s;
			color:@black;
		}
	}
}

section{
	width:65%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: 10%;
	margin-top: 5vh;
	margin-bottom: 10vh;
	.box-style;

	h1{
		font-size: 2em;
		color:@white;
		background-color: @flare;
		border-bottom: solid 4px @flare-dark;
		text-align: center;
		margin-bottom: 10px;
	}

	p{
		margin-bottom: 30px;
	}
}

.list{
	table{
		width:100%;
		margin-top: 20px;
		margin-bottom: 20px;
		border:none;
		border-collapse: collapse;

		tr{
			width:100%;
			height:60px;
			overflow: hidden;

			th{
				text-align: center;
				background-color: @flare;
				color:@white;
			}
			td{
				padding-left: 20px;
			}
			.table-actions{
				text-align: center;
			}
		}

		tr:nth-child(odd){
			background-color: lighten(@grey,80%);
		}
	}
}

.images{
	margin-bottom: 30px;
	.g-image{
		width:30%;
		margin-right: 1vw;
		margin-top: 1vw;
		display:  inline-block;
		border: solid 4px @white;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

		background-position: center center;
		background-size: cover;
		background-repeat: none;
		
	}
	a{
		font-size: auto;
		font-weight: 700;
		text-align: center;
		width:100%;
		height:100%;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		background-color: @white;
		cursor: pointer;
		transition: opacity 0.3s;
		&:hover{
			opacity: 0.5;
			transition: opacity 0.3s;
		}
	}

}
//Forms and input -----------------------------------------------------------------------------------------------


.form-field{
	input[type="submit"]{
		
		height:50px;
		background-color: @flare;
		border:solid 1px darken(@flare,8%);
		border-radius: 4px;
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		color:@white;
		font-size: 1.2em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;

		&:hover{
			background-color: mix(@white,@flare,20%);
			border:solid 1px mix(@white,darken(@flare,8%),20%);
		}
	}

	textarea{
		width:100%;
		min-height: 150px;
		font-size: 1.0em;
		font-family: 'Open Sans', sans-serif;
	}
	.tag,.label,.label-info{
		background-color: @flare-dark;
		padding:5px;
		margin:5px;
	}
	.bootstrap-tagsinput{
		width:100%;
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		font-family: inherit;
		font-size:1.2em;
		input{
			border:none !important;
			display: inline !important;
			width:auto !important;
		}
	}



	input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="time"],input[type="number"],input[type="tel"],input[type="url"]{
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: inherit;
		font-size:1.2em;
	}

	label{
		width:100%;
		text-align: left;
		display: block;
	}


}

// Alert Boxes ----------------------------------------------------------------------------------------------------------------

.alert{
	width:77%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;
}

.error,.danger{
	background: rgb(255,200,200);
	border: solid 1px rgb(130,0,0);
	color: rgb(100,0,0)
}

.warning{
	background: rgb(255,255,200);
	border: solid 1px rgb(130,130,0);
	color: rgb(100,100,0)
}

.success{
	background: rgb(200,255,200);
	border: solid 1px rgb(0,130,0);
	color: rgb(0,100,0)
}
.info{
	background: rgb(200,200,255);
	border: solid 1px rgb(0,0,130);
	color: rgb(0,0,100)
}

//Buttons --------------------------------------------------------------------------------------------------------

.btn{
	height:50px;
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 16px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	text-decoration: none;
	font-size: 1.2em;
	margin-top:10px;
	margin: 10px;
	cursor:pointer;
	color:@white;
}

.btn-delete{
	background-color: rgb(200,100,100);
	border:solid 1px rgb(150,50,50);
	&:hover{
		background-color: mix(@white,rgb(200,100,100),20%);
		border:solid 1px mix(@white,rgb(150,50,50),20%);
	}
}

.btn-add{
	background-color: rgb(100,200,100);
	border:solid 1px rgb(50,150,50);
	&:hover{
		background-color: mix(@white,rgb(100,200,100),20%);
		border:solid 1px mix(@white, rgb(50,150,50),20%);
	}
}

.btn-info{

}

// Site Performance page stuff --------------------------------------------------------------------------------------------------------

.quick-data-square{
	width:20%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	text-align: center;
	background-color: @flare;
	color: @white;
	margin-top: 20px;
	.text{
		font-weight: 400;

	}
	.value{
		font-size: 3em;
		font-weight: 700;
	}

}

.chart{
	border:solid 2px lighten(@grey,60%);
	min-height: 50vh;
}