.info-image {
  width: auto;
  display: block;
  outline: solid 2px #c8c8c8;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
#fb-like-preview iframe {
  width: 100%;
  border: none;
  outline: none;
}
