//JMP:SOCIALMEDIA =======================================================================================================================

.info-image{
	width:auto;
	display: block;
	outline: solid 2px rgba(200,200,200,1);
	padding:10px;
	box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
	margin-bottom:30px;
}

#fb-like-preview{
	iframe{
		width:100%;
		border:none;
		outline: none;
	}
}
