@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700');
@import url(bootstrap-tagsinput.css);
/*
 __          __  _     _                    _      ______  _____ _____ 
 \ \        / / | |   | |                  | |    |  ____|/ ____/ ____|
  \ \  /\  / /__| |__ | | _____  _ __ ___  | |    | |__  | (___| (___  
   \ \/  \/ / _ \ '_ \| |/ / _ \| '__/ _ \ | |    |  __|  \___ \\___ \ 
    \  /\  /  __/ |_) |   < (_) | | |  __/ | |____| |____ ____) |___) |
     \/  \/ \___|_.__/|_|\_\___/|_|  \___| |______|______|_____/_____/ 

===========================================================================================================================
Created By: Jamie Overington
Copyright: 2016 - 2019
Created: 01/02/2016

Contains the main stylesheet for the system.
Contains the main colours for the system...
Includes Google Font -> Lato
Includes Bootstrap TagsInput

Requires LESS to compile.

===========================================================================================================================

*/
/* Main Primary color */
.year-picker {
  width: auto;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  overflow: hidden;
  background-color: #1c2731;
}
.year-picker p {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  width: 79%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0px;
  font-size: 1.4em;
  background-color: #1c2731;
}
.year-picker button {
  width: 10%;
  height: 40px;
  display: inline;
  background-color: #086ccd;
  border: 0px;
  color: #ffffff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.4em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.year-picker button.right {
  float: right;
}
.year-picker button:active {
  background-color: #06529c;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.year-picker button:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #74b8fa;
}
#calendar {
  margin-bottom: 50px;
}
#calendar table td {
  text-align: center;
}
.calendar-month {
  width: 30%;
  display: inline-block;
  margin-right: 1.5%;
  margin-left: 1.5%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-face-color: #086ccd;
  height: 44vh;
}
.calendar-month table {
  width: 100%;
}
.calendar-month table tr td {
  width: 14.2%;
  text-align: center;
  border: solid 1px #c2c2c2;
}
.calendar-month table tr td p {
  padding-top: 30%;
  height: 55%;
  overflow: hidden;
  margin-bottom: 13px;
}
.calendar-month table tr td p a {
  height: 100%;
  display: block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}
.calendar-month table tr td p a:hover {
  text-decoration: underline;
}
.calendar-month table tr th {
  background-color: #1c2731;
  color: #ffffff;
  font-weight: 300;
}
.calendar-month .month-name {
  height: 40px;
  line-height: 40px;
  font-weight: light;
  background-color: #086ccd;
  color: #ffffff;
  text-align: center;
}
.calendar-month .no-day {
  background-color: #c8c8c8;
}
.calendar-month .day {
  background-color: #e6e6e6;
  cursor: hand;
}
.calendar-month .booked {
  background-color: #086ccd;
  color: #ffffff;
}
.calendar-month .holiday {
  background-color: #843667;
  color: #ffffff;
}
.options-box {
  width: 40%;
  top: 40%;
  left: 40%;
  padding-bottom: 40px;
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  -webkit-box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}
.options-box h3 {
  width: 100%;
  font-size: 1.4em;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #086ccd;
}
.options-box p {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  font-size: 1.2em;
}
.options-box .butttttons {
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.options-background {
  width: 80%;
  right: 0px;
  position: fixed;
  top: 60px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.op-hidden {
  display: none;
}
.op-fade {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#calendar h5 {
  text-align: left;
  background-color: #086ccd;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  width: 95%;
  margin-bottom: -20px;
  font-size: 1.4em;
}
.dash-button {
  width: 22%;
  margin-left: 1.4%;
  margin-bottom: 1.5%;
  display: inline-block;
  background-color: #086ccd;
  text-decoration: none;
}
.dash-button i {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: center;
  font-size: 4em;
  color: #ffffff;
}
.dash-button p {
  text-align: center;
  font-weight: 800;
  margin-top: 25px;
  color: #ffffff;
}
.dash-button:hover {
  background-color: #5e9fdf;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wk-update {
  border: solid 2px #c7c7c7;
  margin-bottom: 50px;
  padding-bottom: 90px;
}
.wk-update h2 {
  background-color: #086ccd;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  border-bottom: solid 2px #c7c7c7;
}
.wk-update p,
.wk-update ul {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}
.wk-update p li,
.wk-update ul li {
  margin-bottom: 5px;
  width: 85%;
  margin-left: 10%;
}
.wk-update h3 {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 15px;
}
.wk-update .wk-published {
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  font-style: italic;
  background-color: #e6e6e6;
  display: inline-table;
  height: 50px;
  margin-right: 5%;
  float: right;
  border-radius: 8px 30px 30px 8px ;
  border: solid 2px #ffffff;
  padding-left: 10px;
}
.wk-update .wk-published .round-img {
  width: 46px;
  height: 46px;
  margin-left: 10px;
  text-align: right;
  border-radius: 100%;
  opacity: 0.8;
  float: right;
  vertical-align: middle;
  border: solid 4px #ffffff;
}
.form-field input[type="submit"] {
  height: 50px;
  background-color: #086ccd;
  border: solid 1px #0657a6;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Lato';
}
.form-field input[type="submit"]:hover {
  background-color: #3989d7;
  border: solid 1px #3879b8;
}
.form-field textarea {
  width: 100%;
  min-height: 150px;
  font-size: 1.0em;
  font-family: 'Lato', sans-serif;
}
.form-field .tag,
.form-field .label,
.form-field .label-info {
  background-color: #03396d;
  padding: 5px;
  margin: 5px;
}
.form-field .bootstrap-tagsinput {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  font-family: inherit;
  font-size: 1.2em;
}
.form-field .bootstrap-tagsinput input {
  border: none !important;
  display: inline !important;
  width: auto !important;
}
.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field input[type="date"],
.form-field input[type="time"],
.form-field input[type="number"],
.form-field input[type="tel"],
.form-field input[type="url"] {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}
.form-field label {
  width: 100%;
  text-align: left;
  display: block;
}
.form-field select {
  width: 50%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 1.2em;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}
.form-field-glass input[type="submit"],
.g-form-field input[type="submit"] {
  background-color: rgba(8, 108, 205, 0);
  height: 60px;
  border: solid 1px #086ccd;
  border-radius: 1px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  line-height: 25px;
  color: #ffffff;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Lato';
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form-field-glass input[type="submit"]:hover,
.g-form-field input[type="submit"]:hover {
  background-color: #086ccd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.form-field-glass textarea,
.g-form-field textarea {
  width: 100%;
  min-height: 150px;
  font-size: 1.0em;
  font-family: 'Lato', sans-serif;
}
.form-field-glass .tag,
.g-form-field .tag,
.form-field-glass .label,
.g-form-field .label,
.form-field-glass .label-info,
.g-form-field .label-info {
  background-color: #03396d;
  padding: 5px;
  margin: 5px;
}
.form-field-glass .bootstrap-tagsinput,
.g-form-field .bootstrap-tagsinput {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  font-family: inherit;
  font-size: 1.2em;
}
.form-field-glass .bootstrap-tagsinput input,
.g-form-field .bootstrap-tagsinput input {
  border: none !important;
  display: inline !important;
  width: auto !important;
}
.form-field-glass input[type="text"],
.g-form-field input[type="text"],
.form-field-glass input[type="password"],
.g-form-field input[type="password"],
.form-field-glass input[type="email"],
.g-form-field input[type="email"],
.form-field-glass input[type="date"],
.g-form-field input[type="date"],
.form-field-glass input[type="time"],
.g-form-field input[type="time"],
.form-field-glass input[type="number"],
.g-form-field input[type="number"],
.form-field-glass input[type="tel"],
.g-form-field input[type="tel"],
.form-field-glass input[type="url"],
.g-form-field input[type="url"] {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  line-height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
.form-field-glass label,
.g-form-field label {
  width: 100%;
  text-align: left;
  display: block;
}
.form-field-glass select,
.g-form-field select {
  width: 50%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 1.2em;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}
.inline-date-field {
  width: 100%;
}
.inline-date-field .btn {
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 10px;
  margin: 10px;
  cursor: pointer;
  color: #ffffff;
}
.inline-date-field input[type=submit],
.inline-date-field a {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 400 !important;
  line-height: 50px;
  vertical-align: center;
  font-family: 'Lato';
}
.inline-date-field a {
  height: 46px;
}
.option-header {
  width: 70%;
  display: inline-block;
  margin-top: 30px;
}
.onoffswitch {
  display: inline-block;
  position: relative;
  width: 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 0px solid #FFFFFF;
  border-radius: 30px;
  background-color: #9E9E9E;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: -5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border-radius: 30px;
  -webkit-box-shadow: 0 6px 12px 0px #757575;
          box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #086ccd;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #086ccd;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #06529c;
  -webkit-box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
.radio-list,
.checkbox-list {
  width: 100%;
  padding-bottom: 25px;
}
.radio-list div,
.checkbox-list div {
  padding-top: 3px;
  padding-bottom: 3px;
}
.radio-list div input,
.checkbox-list div input {
  width: 20px;
  display: inline-block;
}
.radio-list div label,
.checkbox-list div label {
  width: 80%;
  display: inline-block;
}
#bgp canvas {
  display: inline;
  top: 0;
  left: 0;
  float: left;
  position: fixed;
  z-index: 1;
}
.login-screen {
  z-index: 2;
  position: absolute;
  -webkit-animation: fade-in 1s 1;
          animation: fade-in 1s 1;
  width: 20%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 30%;
  margin-top: 35vh;
  text-align: center;
  color: #fff;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.login-screen .dev-msg {
  display: none;
}
.login-screen .forgot-password-link {
  text-align: right !important;
  font-size: 0.8em;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.login-screen a {
  color: #ddd;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.login-screen a:hover {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.osc-logo {
  width: 40%;
  height: 10vh;
  background-image: url("../img/logo.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30%;
  margin-top: 25vh;
  z-index: 2;
  position: absolute;
  display: block;
}
footer {
  border-top: solid 1px #18222b;
  bottom: 0px;
  position: fixed;
  width: 18%;
  margin-left: 1%;
  text-align: center;
  font-size: 0.7em;
  line-height: 40px;
  color: #06080a;
}
.menubar {
  width: 20%;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  border-right: solid 2px #131a21;
  background-color: #1c2731;
}
.menubar .section-title {
  border-bottom: solid 2px #253441;
  padding-bottom: 5px;
  color: #75828d;
  font-weight: 800;
}
.menubar .section-title .toggle {
  float: right;
  padding-right: 10px;
  cursor: hand;
}
.menubar .collapsible li a {
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menubar .collapsible li a i {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menubar .collapsed li a {
  overflow: hidden;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.menubar .collapsed li a i {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.menubar li {
  display: block;
  width: 100%;
}
.menubar li a {
  color: #9fa8b0;
  height: 60px;
  line-height: 60px;
  text-align: left;
  padding-left: 22%;
  text-decoration: none;
  width: 78%;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  display: block;
  font-size: 1.2em;
  font-weight: 300;
}
.menubar li a i {
  position: absolute;
  left: 5%;
  line-height: 60px;
  font-size: 1.3em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menubar li a:hover {
  color: #90c8ff;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.menubar li a:hover i {
  font-size: 1.9em;
  color: #90c8ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menubar .webkore-logo-menubar,
.menubar .osc-logo-mb {
  right: 0px;
  height: 60px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #086ccd;
  background-image: url("../img/logo-white-small.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 60%;
}
.menubar .webkore-logo-menubar i,
.menubar .osc-logo-mb i {
  display: none;
}
.menubar .webkore-logo-menubar:hover,
.menubar .osc-logo-mb:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-image: url("../img/logo-black-small.png");
}
section {
  color: #000000;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 25%;
  overflow: hidden;
  margin-top: 8vh;
  margin-bottom: 10vh;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
  border: solid 2px #c2c2c2;
  background-color: #ffffff;
  border-radius: 3px;
}
section .collapsible {
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}
section .collapsed {
  height: 0px;
  overflow: hidden;
}
section .no-animation {
  -webkit-transition: all 0s !important;
  transition: all 0s !important;
}
section .section-toggle {
  background-color: #086ccd;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-bottom: 20px;
}
section .section-toggle i {
  float: right;
  padding-right: 10px;
}
section h1 {
  font-size: 2em;
  color: #086ccd;
  text-align: center;
  margin-bottom: 10px;
  width: 80%;
  height: 60px;
  position: fixed;
  left: 20%;
  top: 0px;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  z-index: 1000;
}
section p {
  margin-bottom: 30px;
}
section p .mini-title {
  border-bottom: solid 2px #c2c2c2;
  width: 100%;
  display: block;
  color: #086ccd;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
}
section p .link {
  color: #086ccd;
  text-decoration: none;
}
section p .link:hover {
  text-decoration: underline;
}
.list table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-collapse: collapse;
}
.list table tbody {
  width: 100%;
}
.list table tr {
  width: 100%;
  height: 60px;
  overflow: hidden;
  color: #000000;
}
.list table tr th {
  text-align: center;
  background-color: #086ccd;
  color: #ffffff;
}
.list table tr td {
  padding-left: 20px;
}
.list table tr .table-actions {
  text-align: center;
}
.list table tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.3);
}
.images {
  margin-bottom: 30px;
}
.images .g-image {
  width: 30%;
  margin-right: 1vw;
  margin-top: 1vw;
  display: inline-block;
  border: solid 4px #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
.images .banner-image {
  width: 100%;
  height: 25vh;
  margin-right: 1vw;
  margin-top: 1vw;
  display: inline-block;
  border: solid 4px #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 4.2em;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
.images a {
  font-size: auto;
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.images a:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.popout {
  width: 88%;
  margin-left: 1%;
}
.popout h1 {
  width: 100%;
  margin-left: 0%;
  left: 0%;
}
.textbox-dropdown {
  position: fixed;
  z-index: 100;
  background-color: #1c2731;
  width: 100%;
  height: 180px;
  text-align: center;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}
.textbox-dropdown input {
  font-size: 1.8em;
  width: 80%;
}
.tb-dd-hide {
  top: -400px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.tb-dd-show {
  top: 40vh;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#yt_preview {
  width: 100%;
}
.list-thumbnail {
  text-align: center;
  width: auto;
  height: 200px;
  padding-top: 10px;
}
.dash-quick-stats {
  background-color: #1c2731;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.dash-quick-stats h3 {
  width: 100%;
  background-color: #086ccd;
  color: #ffffff;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.dash-quick-stats #qs-refresh {
  margin-bottom: 0px;
  width: 100%;
  height: 20px;
  color: #9fa8b0;
  text-align: center;
}
.dash-quick-stats .quick-data-square {
  height: 140px;
  margin-top: 10px;
}
.dash-quick-stats .quick-data-square .text {
  height: 50px;
  margin-bottom: 0px;
  overflow: hidden;
}
.dash-next-booking {
  background-color: #1c2731;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}
.dash-next-booking h3 {
  width: 100%;
  background-color: #086ccd;
  color: #ffffff;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.dash-next-booking ul {
  list-style: none;
  margin-left: 20px;
}
.dash-next-booking ul li {
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dash-next-booking ul li .mini-title {
  font-weight: bold;
  color: #90c8ff;
}
.dash-next-booking a {
  float: right;
  margin-top: -60px;
  height: 70px;
  line-height: 70px;
}
.dash-next-booking .no-booking {
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 1.3em;
  margin-bottom: 0px;
}
.fade-in {
  -webkit-animation: fade-in 1s 1;
          animation: fade-in 1s 1;
}
.data-green {
  color: #50c850;
  text-align: center;
}
.data-red {
  color: #c85050;
  text-align: center;
}
.deleted {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  height: 0px !important;
  overflow: hidden;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box-style {
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
  border: solid 2px #c2c2c2;
  background-color: #ffffff;
  border-radius: 3px;
}
.alert {
  width: 77%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3%;
}
.error,
.danger {
  background: #ffc8c8;
  border: solid 1px #820000;
  color: #640000;
}
.warning {
  background: #ffffc8;
  border: solid 1px #828200;
  color: #646400;
}
.success {
  background: #c8ffc8;
  border: solid 1px #008200;
  color: #006400;
}
.info {
  background: #c8c8ff;
  border: solid 1px #000082;
  color: #000064;
}
.g-error,
.g-danger {
  background: rgba(130, 0, 0, 0.2);
  border: solid 1px #820000;
  color: #fff;
}
.g-warning {
  background: rgba(130, 130, 0, 0.2);
  border: solid 1px #828200;
  color: #fff;
}
.g-success {
  background: rgba(0, 130, 0, 0.2);
  border: solid 1px #008200;
  color: #fff;
}
.g-info {
  background: rgba(0, 0, 130, 0.2);
  border: solid 1px #000082;
  color: #fff;
}
.tc-tick {
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #008200;
}
.tc-cross {
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #820000;
}
.btn {
  height: 50px;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 10px;
  margin: 10px;
  cursor: pointer;
  color: #ffffff;
}
.btn-delete {
  background-color: #c85050;
  border-bottom: solid 4px #ae3737;
}
.btn-delete:hover {
  background-color: #d37373;
  border-bottom: solid 4px #be5f5f;
}
.btn-add {
  background-color: #50c850;
  border-bottom: solid 4px #37ae37;
}
.btn-add:hover {
  background-color: #73d373;
  border-bottom: solid 4px #5fbe5f;
}
.btn-info {
  background-color: #086ccd;
  border-bottom: solid 4px #04386b;
}
.btn-info:hover {
  background-color: #3989d7;
  border-bottom: solid 4px #366088;
}
.btn-holiday {
  background-color: #843667;
  border-bottom: solid 4px #3b182e;
}
.btn-holiday:hover {
  background-color: #9c5e85;
  border-bottom: solid 4px #624658;
}
.quick-data-square {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  text-align: center;
  background-color: #086ccd;
  color: #ffffff;
  margin-top: 20px;
}
.quick-data-square .text {
  font-weight: 400;
}
.quick-data-square .value {
  font-size: 3em;
  font-weight: 700;
}
.chart {
  border: solid 2px rgba(153, 153, 153, 0.3);
  min-height: 50vh;
}
.info-image {
  width: auto;
  display: block;
  outline: solid 2px #c8c8c8;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
#fb-like-preview iframe {
  width: 100%;
  border: none;
  outline: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 680px) {
  body {
    font-size: 1.0em;
  }
  footer {
    width: 100%;
    bottom: 0%;
    line-height: 20px;
    position: fixed;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #ffffff;
  }
  .mobile-vertical-only {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    background-image: url("../img/rotate.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: #787878;
    z-index: 10000000;
  }
  .osc-logo {
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-image: url("../img/mobile_logo.png");
  }
  .login-screen {
    width: 90%;
    margin-top: 20vh;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.0em;
  }
  .login-screen .dev-msg {
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .menubar {
    margin-top: 60px;
    width: 100%;
    height: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
  }
  .menubar li {
    width: 25vw;
    float: left;
  }
  .menubar li a {
    line-height: 10vh;
    margin-bottom: -10%;
    display: block;
    width: 100%;
    padding: 0%;
    text-align: center;
    line-height: auto;
    font-size: 1.0em;
    height: 25vw;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
  }
  .menubar li a .fa {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    height: 5vh;
    overflow: visible;
    left: auto;
    line-height: 10vh;
    width: 100%;
    display: block;
  }
  .menubar .mb-bottom {
    top: 0%;
    right: 0%;
    position: absolute;
  }
  .menubar .section-title {
    margin-top: 1vh;
    width: 100%;
    height: 3vh;
  }
  .menubar .section-title .fa {
    font-size: 1.4em;
  }
  .menubar .osc-logo-mb {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 25vw;
    background-image: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1001;
  }
  .menubar .osc-logo-mb .fa {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0%;
    line-height: 60px;
    font-size: 2em;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menubar .open-menu {
    background-color: #90c8ff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menubar .open-menu .fa {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .mobile-menubar-closed {
    top: -500%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section {
    margin-top: 58px;
    border-width: 0px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin-left: 0%;
    margin-right: 0%;
  }
  section h1 {
    width: 75vw;
    right: 0%;
    left: auto;
    font-size: 1.5em;
  }
  section .calendar-month {
    width: 100%;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-face-color: #086ccd;
    height: auto;
    margin-bottom: 50px;
  }
  section .options-box {
    width: 80%;
    top: 20%;
    left: 10%;
    padding-bottom: 40px;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
    -webkit-box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 1;
  }
  section .options-box h3 {
    width: 100%;
    font-size: 1.4em;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #086ccd;
  }
  section .options-box p {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 1.2em;
  }
  section .options-box .butttttons {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  section .options-box .butttttons a {
    display: block;
  }
  section .options-background {
    width: 100vw;
    right: 0px;
    position: fixed;
    top: 60px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  section .op-hidden {
    display: none;
  }
  section .op-fade {
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  section .list table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-collapse: collapse;
  }
  section .list table tbody {
    width: 100%;
  }
  section .list table tr {
    width: 100%;
    height: 60px;
    overflow: hidden;
  }
  section .list table tr th {
    text-align: center;
    background-color: #086ccd;
    color: #ffffff;
    text-overflow: ellipse;
  }
  section .list table tr td {
    padding: 0px;
    font-size: 1em;
  }
  section .list table tr .mobile-hidden {
    display: none;
  }
  section .list table tr .table-actions {
    text-align: center;
  }
  section .list table tr:nth-child(odd) {
    background-color: rgba(204, 204, 204, 0.3);
  }
  section .list .btn-add {
    width: 100%;
  }
  section .images {
    margin-bottom: 10vw;
  }
  section .images .g-image {
    width: 48%;
    border: solid 0px #ffffff;
  }
  section .images .banner-image {
    border: solid 0px #ffffff;
  }
  section .images a {
    opacity: 0.2;
  }
  section .dash-button {
    width: 47%;
    margin-left: 0%;
    margin-right: 2%;
    padding-top: 8vw;
    height: 35vw;
    font-size: 0.8em;
  }
  section .quick-data-square {
    height: 140px;
    width: 45%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }
  section .quick-data-square .text {
    height: 50px;
    margin-bottom: 0px;
    overflow: hidden;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
  .calendar-month {
    width: 100%;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-face-color: #086ccd;
    height: auto;
    margin-bottom: 30px;
  }
  .calendar-month table {
    width: 100%;
  }
  .calendar-month table tr td p {
    padding-top: 30%;
    height: 55%;
    margin-bottom: 30px !important;
  }
  footer {
    width: 100%;
    bottom: 0%;
    line-height: 20px;
    position: fixed;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #ffffff;
  }
  .quick-data-square {
    height: 140px;
    width: 45%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .quick-data-square .text {
    height: 50px;
    margin-bottom: 0px;
    overflow: hidden;
  }
  .dash-button {
    width: 30%;
    margin-left: 0%;
    margin-right: 2%;
    padding-top: 2vw;
    height: 20vw;
    font-size: 1em;
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1280px) {
  #calendar {
    overflow: visible;
  }
  .calendar-month {
    width: 47%;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-face-color: #086ccd;
    height: 65vh;
  }
  .calendar-month table {
    width: 100%;
  }
  .calendar-month table tr td p {
    padding-top: 30%;
    height: 55%;
    margin-bottom: 20px !important;
  }
  footer {
    width: 100%;
    bottom: 0%;
    line-height: 20px;
    position: fixed;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #ffffff;
  }
  .quick-data-square {
    height: 140px;
    width: 45%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .quick-data-square .text {
    height: 50px;
    margin-bottom: 0px;
    overflow: hidden;
  }
  .dash-button {
    width: 22.5%;
    margin-left: 0%;
    margin-right: 2%;
    padding-top: 2vw;
    height: 20vw;
    font-size: 1em;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}
::-webkit-scrollbar-track {
  background-color: #091623;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  -webkit-transform: translate(-17px);
          transform: translate(-17px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Sarabun', sans-serif;
  background-color: #091623;
  font-size: 1.0em;
}
.NyanCat {
  background-image: url('../img/nyan.gif');
  background-size: 35%;
  background-position: center center;
}
