// JMP:CAL Calendar & Booking Page ------------------------------------------------------------------------------------------------------------


.year-picker{

	
	width:auto;
	margin-bottom: 20px;
	height:40px;
	width:100%;
	overflow: hidden;
	background-color: @webkore-menu-bg;
	

	p{
		display: inline-block;
		text-align: center;
		font-weight: 700;
		color:@white;
		width:79%;
		height:40px;
		line-height: 40px;
		margin-bottom: 0px;
		font-size: 1.4em;
		background-color: @webkore-menu-bg;
	}


	button{
		width:10%;
		height:40px;
		display: inline;
		background-color: @webkore-flare;
		border:0px;
		color: @white;
		text-shadow: 0px 2px 10px rgba(0,0,0,0.3);
		font-size: 1.4em;
		transition: all 0.2s;
		cursor: pointer;

		&.right{
			float:right;
		}


		&:active{
			background-color: darken(@webkore-flare,10%);
			transition: all 0.1s;
		}
		&:hover{
			transition: all 0.1s;
			color: lighten(@webkore-flare,30%);
		}
	}

}

#calendar{
	margin-bottom: 50px;

	table{
		td{
			text-align: center;
		}
		
	}
}

.calendar-month{
	width:30%;
	display: inline-block;
	margin-right: 1.5%;
	margin-left: 1.5%;
	overflow-x:auto;
	overflow-y: hidden;
	scrollbar-face-color: @webkore-flare;
	height:44vh;


	table{
		width:100%;
		tr{
			td{
				width:14.2%;
				text-align: center;
				border:solid 1px @webkore-box-border;

				p{
					padding-top: 30%;
					overflow: hidden;
					height:55%;
					overflow: hidden;
					margin-bottom: 13px;
					a{
						height:100%;
						display: block;
						width:100%;
						color: @white;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			th{
				background-color: @webkore-menu-bg;
				color:@white;
				font-weight: 300;
			}
		}
	}

	.month-name{
		height:40px;
		line-height: 40px;
		font-weight: light;
		background-color:@webkore-flare;
		color: @white;
		text-align: center;
	}

	.no-day{
		background-color: rgb(200,200,200);
	}

	.day{
		background-color: rgb(230,230,230);
		cursor:hand
	}

	.booked{
		background-color: @webkore-flare;
		color: @white;
	}

	.holiday{
		background-color: @webkore-holiday;
		color: @white;
	}

}

.options-box{
	width: 40%;
	top: 40%;
	left:40%;
	padding-bottom:40px;
	position: fixed;
	background-color: @webkore-box-bg;
	z-index: 10;
	box-shadow: 0px 8px 20px 5px rgba(0,0,0,0.4);
	transition:all 0.4s;
	opacity: 1;

	h3{
		width:100%;
		font-size: 1.4em;
		line-height: 60px;
		text-align: center;
		font-weight: 700;
		color: @white;
		background-color: @webkore-flare;


	}
	p{
		width:60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 20px;
		font-size: 1.2em;
	}

	.butttttons{
		text-align: center;
		width:100%;
		margin-left: 0px;
		margin-right: 0px;
	}

}
.options-background{
	width:80%;
	right:0px;
	position: fixed;
	top: 60px;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
	box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,0.6);
	transition:all 0.2s;
}

.op-hidden{
	display: none;
}

.op-fade{
	opacity: 0;
	transition:all 0.4s;
}

#calendar{
	h5{
		text-align: left;
		background-color: @webkore-flare;
		color:@white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5%;
		width:95%;
		margin-bottom: -20px;
		font-size: 1.4em;
	}
}



// JMP:DASH ===================================================================================================================================

.dash-button{
	width:22%;
	margin-left: 1.4%;
	margin-left: 1.4%;
	margin-bottom: 1.5%;
	display: inline-block;
	background-color: @webkore-flare;
	text-decoration: none;

	 i{
	 	width:80%;
	 	margin-left: 10%;
	 	margin-top: 10%;
	 	text-align: center;
	 	font-size: 4em;
	 	color:@white;
	 }

	 p{
	 	text-align: center;
	 	font-weight: 800;
	 	margin-top: 25px;
	 	color: @white;
	 }

	 &:hover{
	 	background-color: mix(@white, @webkore-flare,35%);
	 	transition: all 0.3s;
	 }
}


.wk-update{
	
	border: solid 2px darken(@white,22%);
	margin-bottom: 50px;
	padding-bottom: 90px;


	h2{
		background-color: @flare;
		color: @white;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 5%;
		border-bottom: solid 2px darken(@white,22%);
	}

	p,ul{
		width: 90%;
		margin-left: 5%;
		margin-top: 15px;
		li{
			margin-bottom: 5px;
			width: 85%;
			margin-left: 10%;
		}
	}

	h3{
		width: 95%;
		margin-left: 2.5%;
		margin-top: 15px;
	}

	.wk-published{
		text-align: left;
		line-height: 50px;
		vertical-align: middle;
		font-style: italic;
		background-color: darken(@white,10%);
		display: inline-table;
		height:50px;
		margin-right: 5%;
		float:right;
		border-radius:8px 30px 30px 8px ;
		border:solid 2px @white;
		padding-left: 10px;


		.round-img{
			width:46px;
			height: 46px;
			margin-left: 10px;
			text-align: right;
			border-radius: 100%;
			opacity: 0.8;
			float: right;
			vertical-align: middle;
			border:solid 4px @white;

		}
	}


}

