// JMP:ETE ---------------------------------------------------------------
#bgp{
	canvas{
	display:inline;
	top:0;
	left:0;
	float:left;
	position:fixed;
	z-index: 1;

	}
}

.login-screen{
	z-index: 2;
	position:absolute;
	.fade-in;
	.dev-msg{
		display: none;
	}

	.forgot-password-link{
		text-align: right !important;
		font-size: 0.8em;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}

	a{
		color:#ddd;
		text-decoration: none;
		transition: all 0.3s;
		&:hover{
			color: #fff;
			text-decoration: underline;
			transition: all 0.5s;
		}
	}

	//border-top:solid 5px @flare;
	width:20%;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 30%;
	margin-top: 35vh;
	text-align: center;
	//background: -webkit-linear-gradient(top, rgba(0,66,132,0.70) 0%, @glass-ui-bg-1 100%);
	color:#fff;
	padding-top: 3vh;
	padding-bottom: 3vh;
	//box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.1);




}

.osc-logo{
	width:40%;
	height: 10vh;
	background-image: url("../img/logo.svg");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 30%;
	margin-top: 25vh;
	z-index: 2;
	position: absolute;
	display: block;


}

footer{
	border-top: solid 1px darken(@webkore-menu-bg,2%);
	bottom:0px;
	position: fixed;
	width:18%;
	margin-left: 1%;
	text-align: center;
	font-size: 0.7em;
	line-height: 40px;
	color: darken(@webkore-menu-bg, 12%);
}

.menubar{
	width:20%;
	height: 100vh;
	top:0px;
	left:0px;
	position: fixed;
	border-right: solid 2px darken(@webkore-menu-bg,5%);
	background-color: @webkore-menu-bg;
	

	.section-title{
		border-bottom: solid 2px lighten(@webkore-menu-bg, 5%);
		padding-bottom: 5px;
		color:darken(@webkore-menu-fg,15%);
		font-weight: 800;

		.toggle{
			float:right;
			padding-right: 10px;
			cursor:hand;
		}

	}

	.collapsible{
		li{
			a{
				overflow: hidden;
				transition: all 0.5s;
				
				i{
					opacity: 1;
					transition: all 0.5s;
					
				}
			}
		}
	}

	.collapsed{	
		li{
			a{
				overflow: hidden;
				height: 0px;
				padding-top:0px;
				padding-bottom:0px;
				transition: all 0s;
				
				i{
					overflow: hidden;
					opacity: 0;
					transition: all 0s;
					
				}
			}
		}
	}

	li{
		display: block;
		width:100%;

		a{
			color:@webkore-menu-fg;
			height:60px;
			line-height: 60px;
			text-align: left;
			padding-left: 22%;
			text-decoration: none;
			width:78%;
			transition: color 0.4s;
			display: block;
			font-size: 1.2em;
			font-weight: 300;
			i{
				position: absolute;
				left:5%;
				line-height: 60px;
				font-size: 1.3em;
				transition: all 0.2s;
			}

			&:hover{
				color:@webkore-menu-fg-hover;
				transition: color 0.4s;
				i{
					font-size: 1.9em;
					color:@webkore-menu-fg-hover;
					transition: all 0.2s;
				}
			}
		}
	}



	.webkore-logo-menubar, .osc-logo-mb{
		right:0px;
		height:60px;
		transition: all 0.6s;
		background-color:@webkore-flare;
		background-image: url("../img/logo-white-small.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-size: 60%;
		i{  
			display: none;
		}


		&:hover{
			transition: all 0.6s;
			background-image: url("../img/logo-black-small.png");

		}
	}

	.mb-bottom{

	}
}

section{
	color: @black;
	width:60%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: (@menu-width + 5%);
	overflow: hidden;

	margin-top: 8vh;
	margin-bottom: 10vh;
	.box-style;

	.collapsible{
		height:auto;
		transition: all 1s;
	}
	.collapsed{
		height:0px;
		overflow: hidden;
	}
	.no-animation{
		transition: all 0s !important;
	}

	.section-toggle{
		background-color:@webkore-flare;
		color: @white;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 10px;
		margin-bottom: 20px;
		i{
			float:right;
			padding-right:10px;
		}

	}

	h1{
		font-size: 2em;
		color:@webkore-flare;
		background-color: @white;
		text-align: center;
		margin-bottom: 10px;
		width:80%;
		height:60px; //2px for the bottom border
		position: fixed;
		left:20%;
		top:0px;
		line-height: 60px;

		box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.4);
		background-color: @webkore-box-bg;
		z-index: 1000;

	}

	p{
		margin-bottom: 30px;
		.mini-title{
			
			border-bottom: solid 2px @webkore-box-border;
			width:100%;
			display: block;
			color:@webkore-flare;
			font-weight: 700;
			font-size: 1.2em;
			margin-bottom: 10px;
		}

		.link{
			color: @webkore-flare;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.list{
	table{
		width:100%;
		margin-top: 20px;
		margin-bottom: 20px;
		border:none;
		border-collapse: collapse;

		tbody{
			width:100%;
		}

		tr{
			width:100%;
			height:60px;
			overflow: hidden;
			color: 	@black;

			th{
				text-align: center;
				background-color: @flare;
				color:@white;
			}
			td{
				padding-left: 20px;
			}
			.table-actions{
				text-align: center;
			}
		}

		tr:nth-child(odd){
			background-color: lighten(@grey,80%);
		}
	}
}

.images{
	margin-bottom: 30px;
	.g-image{
		width:30%;
		margin-right: 1vw;
		margin-top: 1vw;
		display:  inline-block;
		border: solid 4px @white;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

		background-position: center center;
		background-size: cover;
		background-repeat: none;
		
	}
	.banner-image{
		width:100%;
		height:25vh;
		margin-right: 1vw;
		margin-top: 1vw;
		display:  inline-block;
		border: solid 4px @white;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		font-size: 4.2em;
		background-position: center center;
		background-size: cover;
		background-repeat: none;
		
	}
	a{
		font-size: auto;
		font-weight: 700;
		text-align: center;
		width:100%;
		height:100%;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		background-color: @white;
		cursor: pointer;
		transition: opacity 0.3s;
		&:hover{
			opacity: 0.5;
			transition: opacity 0.3s;
		}
	}

}

.popout{
	width:88%;
	margin-left: 1%;
	h1{
		width: 100%;
		margin-left: 0%;
		left:0%;
	}
}

.textbox-dropdown{
	position: fixed;
	z-index: 100;
	background-color: @webkore-menu-bg;
	width:100%;
	height:180px;
	text-align: center;
	color: @white;
	input{
		font-size: 1.8em;
		width:80%;
	}
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);

}

.tb-dd-hide{
	top: -400px;
	transition: all 1s;
}

.tb-dd-show{
	top: 40vh;
	transition: all 1s;
}

#yt_preview{
	width:100%;
}

.list-thumbnail{
	text-align: center;
	width: auto;
	height: 200px;
	padding-top:10px;
}

//Dashboard Stuff:

//Dash Quick Stats:

.dash-quick-stats{
	background-color: @webkore-menu-bg;
	padding-bottom: 30px;
	margin-bottom: 30px;

	h3{
		width:100%;
		background-color:@webkore-flare;
		color:@white;
		text-align:center;
		padding-top:6px;
		padding-bottom:6px;
	}

	#qs-refresh{
		margin-bottom: 0px;
		width:100%;
		height:20px;
		color: @webkore-menu-fg;
		text-align: center;
	}

	.quick-data-square{
		height:140px;
		margin-top: 10px;
		.text{
			height:50px;
			margin-bottom: 0px;
			overflow: hidden;
		}
	}
}

.dash-next-booking{
	background-color: @webkore-menu-bg;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: @white;

	h3{
		width:100%;
		background-color:@webkore-flare;
		color:@white;
		text-align:center;
		padding-top:6px;
		padding-bottom:6px;
	}

	ul{
		list-style: none;
		margin-left: 20px; 
		li{
			color: @white;
			margin-top: 5px;
			margin-bottom: 5px;
			
			.mini-title{
				font-weight: bold;
				color: @webkore-menu-fg-hover;
			}
		}
	}

	a{
		float:right;
		margin-top:-60px;
		height: 70px;
		line-height: 70px;

	}

	.no-booking{
		width: 100%;
		text-align: center;
		height:80px;
		line-height:80px;
		font-size: 1.3em;
		margin-bottom: 0px;
	}
}