//JMP:TABLET ============================================================================================================================

//PORTRAIT
@media only screen and (min-device-width : 600px) and (max-device-width : 800px){

	//Calendar:
		.calendar-month{
			width:100%;
			display: inline-block;
			margin-right: 1.5%;
			margin-left: 1.5%;
			overflow-x:auto;
			overflow-y: hidden;
			scrollbar-face-color: @webkore-flare;
			height:auto;
			margin-bottom: 30px;

			table{
				width:100%;
				tr{
					td{
		
						p{
							padding-top: 30%;
							height:55%;
							margin-bottom: 30px !important;
						}
					}
				}
			}


		}

	footer{
		width:100%;
		bottom:0%;
		line-height: 20px;
		position: fixed;
		margin-left: 0%;
		margin-right: 0%;
		background-color: @webkore-box-bg;
	}

	.quick-data-square{
		height:140px;
		width:45%;
		margin-top: 10px;
		margin-left: 2%;
		margin-right: 2%;
	
		.text{
			height:50px;
			margin-bottom: 0px;
			overflow: hidden;
		}
	}

	.dash-button{
		width:30%;
		margin-left: 0%;
		margin-right: 2%;
		padding-top: 2vw;
		height: 20vw;
		font-size: 1em;

	}



}

//LANDSCAPE
@media only screen and (min-device-width : 1000px) and (max-device-width : 1280px){

	//Calendar:
	#calendar{
		overflow: visible;
	}


		.calendar-month{
			width:47%;
			display: inline-block;
			margin-right: 1.5%;
			margin-left: 1.5%;
			overflow-x:auto;
			overflow-y: hidden;
			scrollbar-face-color: @webkore-flare;
			height:65vh;

			table{
				width:100%;
				tr{
					td{
		
						p{
							padding-top: 30%;
							height:55%;
							margin-bottom: 20px !important;
						}
					}
				}
			}


	}

	footer{
		width:100%;
		bottom:0%;
		line-height: 20px;
		position: fixed;
		margin-left: 0%;
		margin-right: 0%;
		background-color: @webkore-box-bg;
	}

	.quick-data-square{
		height:140px;
		width:45%;
		margin-top: 10px;
		margin-left: 2%;
		margin-right: 2%;
	
		.text{
			height:50px;
			margin-bottom: 0px;
			overflow: hidden;
		}
	}

	.dash-button{
		width:22.5%;
		margin-left: 0%;
		margin-right: 2%;
		padding-top: 2vw;
		height: 20vw;
		font-size: 1em;

	}






}
