//Stylesheet for Webcore (Previously OSC v1) v1
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(bootstrap-tagsinput.css);


//WebKore Flare & BG Colours: http://paletton.com/#uid=13-0u0kK3J7mvLhsVKaKjs-LAme
@webkore-flare:rgb(8, 108, 205);
@webkore-bg:  rgb(9, 22, 35); //http://paletton.com/#uid=13-0u0kpk6Kg+dblf9Zu43TFZ1y

//WebKore Box Styles: http://paletton.com/#uid=13-1g0k6ati2yHZ4fyk8epZajmR
@webkore-box-bg: rgb(255,255,255);
@webkore-box-border: rgb(194, 194, 194); //rgb(218, 222, 226)

//WebKore Menu: http://paletton.com/#uid=13z0u0keL9w99k8a0dEk083pl5Q
@webkore-menu-bg: rgb(28, 39, 49);
@webkore-menu-fg: rgb(159, 168, 176);
@webkore-menu-fg-hover: rgb(144, 200, 255);
@webkore-logo-bg: rgb(50, 61, 70);


//Menu Width:
@menu-width: 20%;

//Odd Colours :P haha:
@webkore-holiday: mix(rgb(255,0,0),@webkore-flare);

@data-green: rgba(80,200,80,1);
@data-yellow: rgba(200,200,80,1);
@data-red: rgba(200,80,80,1);
@data-grey: rgba(200,200,200,1);

//OLD Colours:
@flare: @webkore-flare;	/* Main Primary color */
@flare-dark: rgba(3, 57, 109,1);


@white: #fff;
@black: #000;
@grey: rgba(0,0,0,0.3);


// 2019 Glass UI Look:

@glass-ui-bg-1: rgba(26,52,79,0.60);
@glass-ui-bg-2: rgba(9,22,35,0.60);
@glass-ui-bg-3: rgba(0,66,132,0.60) ;

// ------------------------------------------------------------
/*
	Quick Document Jump Text (use CTRL F)

	JMP:FUNCT - Funtions Etc
	JMP:ETE   - Everything Else
	JMP:FORMS - Forms
	JMP:ABOX  - Alert Boxes
	JMP:BTN   - Buttons
	JMP:SP    - Site Performance
	JMP:CAL   - Calendar
	JMP:DASH   - Dashboard

	JMP:TABLET - Tablet layouts (Currently iPad only)
	JMP:MOBILE - WebKore Mobile Layout (WIP)

*/
// ------------------------------------------------------------
//Custom CSS Scrollbars

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    transition: width 0.8s;
}
::-webkit-scrollbar-track{
	background-color: @webkore-bg;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.4);
    border-radius:20px;
    transform: translate(-17px);

    transition:all 0.3s;
    &:hover {
    	background-color:rgba(255,255,255,0.6);
	}
}

//-------------------------------------------------------------

*{
	margin: 0px;
	padding: 0px;

}

body{
	font-family: 'Lato', sans-serif;
	background-color: @webkore-bg;
	font-size: 1.0em;
	//color: 	@white;
}

.NyanCat{
	background-image:url('../img/nyan.gif');
	background-size: 35%;
	background-position: center center;
}

//LESS Functions & Animation Modules ------------------------------
// JMP:FUNCT
.fade-in{
	animation: fade-in 1s 1;

}

.data-green{
	color:@data-green;
	text-align: center;
}
.data-red{
	color:@data-red;
	text-align: center;
}

.deleted{
	transition:all 1s;
	opacity: 0;
	height: 0px !important;
	overflow: hidden;

}

@keyframes fade-in{
	0%{
		opacity: 0;
	}

	30%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
.box-style{
	box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.15);
	border:solid 2px @webkore-box-border;
	background-color: @webkore-box-bg;
	border-radius: 3px;
}
// JMP:ETE ---------------------------------------------------------------
#bgp{
	canvas{
	display:inline;
	top:0;
	left:0;
	float:left;
	position:fixed;
	z-index: 1;

	}
}

.login-screen{
	z-index: 2;
	position:absolute;
	.fade-in;
	.dev-msg{
		display: none;
	}

	.forgot-password-link{
		text-align: right !important;
		font-size: 0.8em;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}

	a{
		color:#ddd;
		text-decoration: none;
		transition: all 0.3s;
		&:hover{
			color: #fff;
			text-decoration: underline;
			transition: all 0.5s;
		}
	}

	//border-top:solid 5px @flare;
	width:20%;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 30%;
	margin-top: 35vh;
	text-align: center;
	//background: -webkit-linear-gradient(top, rgba(0,66,132,0.70) 0%, @glass-ui-bg-1 100%);
	color:#fff;
	padding-top: 3vh;
	padding-bottom: 3vh;
	//box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.1);




}

.osc-logo{
	width:40%;
	height: 10vh;
	background-image: url("../img/logo.svg");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 30%;
	margin-top: 25vh;
	z-index: 2;
	position: absolute;
	display: block;


}

footer{
	border-top: solid 1px darken(@webkore-menu-bg,2%);
	bottom:0px;
	position: fixed;
	width:18%;
	margin-left: 1%;
	text-align: center;
	font-size: 0.7em;
	line-height: 40px;
	color: darken(@webkore-menu-bg, 12%);
}

.menubar{
	width:20%;
	height: 100vh;
	top:0px;
	left:0px;
	position: fixed;
	border-right: solid 2px darken(@webkore-menu-bg,5%);
	background-color: @webkore-menu-bg;
	

	.section-title{
		border-bottom: solid 2px lighten(@webkore-menu-bg, 5%);
		padding-bottom: 5px;
		color:darken(@webkore-menu-fg,15%);
		font-weight: 800;

		.toggle{
			float:right;
			padding-right: 10px;
			cursor:hand;
		}

	}

	.collapsible{
		li{
			a{
				overflow: hidden;
				transition: all 0.5s;
				
				i{
					opacity: 1;
					transition: all 0.5s;
					
				}
			}
		}
	}

	.collapsed{	
		li{
			a{
				overflow: hidden;
				height: 0px;
				padding-top:0px;
				padding-bottom:0px;
				transition: all 0s;
				
				i{
					overflow: hidden;
					opacity: 0;
					transition: all 0s;
					
				}
			}
		}
	}

	li{
		display: block;
		width:100%;

		a{
			color:@webkore-menu-fg;
			height:60px;
			line-height: 60px;
			text-align: left;
			padding-left: 22%;
			text-decoration: none;
			width:78%;
			transition: color 0.4s;
			display: block;
			font-size: 1.2em;
			font-weight: 300;
			i{
				position: absolute;
				left:5%;
				line-height: 60px;
				font-size: 1.3em;
				transition: all 0.2s;
			}

			&:hover{
				color:@webkore-menu-fg-hover;
				transition: color 0.4s;
				i{
					font-size: 1.9em;
					color:@webkore-menu-fg-hover;
					transition: all 0.2s;
				}
			}
		}
	}



	.webkore-logo-menubar, .osc-logo-mb{
		right:0px;
		height:60px;
		transition: all 0.6s;
		background-color:@webkore-flare;
		background-image: url("../img/logo-white-small.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-size: 60%;
		i{  
			display: none;
		}


		&:hover{
			transition: all 0.6s;
			background-image: url("../img/logo-black-small.png");

		}
	}

	.mb-bottom{

	}
}

section{
	color: @black;
	width:60%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-left: (@menu-width + 5%);
	overflow: hidden;

	margin-top: 8vh;
	margin-bottom: 10vh;
	.box-style;

	.collapsible{
		height:auto;
		transition: all 1s;
	}
	.collapsed{
		height:0px;
		overflow: hidden;
	}
	.no-animation{
		transition: all 0s !important;
	}

	.section-toggle{
		background-color:@webkore-flare;
		color: @white;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 10px;
		margin-bottom: 20px;
		i{
			float:right;
			padding-right:10px;
		}

	}

	h1{
		font-size: 2em;
		color:@webkore-flare;
		background-color: @white;
		text-align: center;
		margin-bottom: 10px;
		width:80%;
		height:60px; //2px for the bottom border
		position: fixed;
		left:20%;
		top:0px;
		line-height: 60px;

		box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.4);
		background-color: @webkore-box-bg;
		z-index: 1000;

	}

	p{
		margin-bottom: 30px;
		.mini-title{
			
			border-bottom: solid 2px @webkore-box-border;
			width:100%;
			display: block;
			color:@webkore-flare;
			font-weight: 700;
			font-size: 1.2em;
			margin-bottom: 10px;
		}

		.link{
			color: @webkore-flare;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.list{
	table{
		width:100%;
		margin-top: 20px;
		margin-bottom: 20px;
		border:none;
		border-collapse: collapse;

		tbody{
			width:100%;
		}

		tr{
			width:100%;
			height:60px;
			overflow: hidden;
			color: 	@black;

			th{
				text-align: center;
				background-color: @flare;
				color:@white;
			}
			td{
				padding-left: 20px;
			}
			.table-actions{
				text-align: center;
			}
		}

		tr:nth-child(odd){
			background-color: lighten(@grey,80%);
		}
	}
}

.images{
	margin-bottom: 30px;
	.g-image{
		width:30%;
		margin-right: 1vw;
		margin-top: 1vw;
		display:  inline-block;
		border: solid 4px @white;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

		background-position: center center;
		background-size: cover;
		background-repeat: none;
		
	}
	.banner-image{
		width:100%;
		height:25vh;
		margin-right: 1vw;
		margin-top: 1vw;
		display:  inline-block;
		border: solid 4px @white;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		font-size: 4.2em;
		background-position: center center;
		background-size: cover;
		background-repeat: none;
		
	}
	a{
		font-size: auto;
		font-weight: 700;
		text-align: center;
		width:100%;
		height:100%;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		background-color: @white;
		cursor: pointer;
		transition: opacity 0.3s;
		&:hover{
			opacity: 0.5;
			transition: opacity 0.3s;
		}
	}

}

.popout{
	width:88%;
	margin-left: 1%;
	h1{
		width: 100%;
		margin-left: 0%;
		left:0%;
	}
}

.textbox-dropdown{
	position: fixed;
	z-index: 100;
	background-color: @webkore-menu-bg;
	width:100%;
	height:180px;
	text-align: center;
	color: @white;
	input{
		font-size: 1.8em;
		width:80%;
	}
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);

}

.tb-dd-hide{
	top: -400px;
	transition: all 1s;
}

.tb-dd-show{
	top: 40vh;
	transition: all 1s;
}

#yt_preview{
	width:100%;
}

.list-thumbnail{
	text-align: center;
	width: auto;
	height: 200px;
	padding-top:10px;
}

// JMP:FORMS Forms and input -----------------------------------------------------------------------------------------------


.form-field{
	input[type="submit"]{
		
		height:50px;
		background-color: @flare;
		border:solid 1px darken(@flare,8%);
		border-radius: 4px;
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		color:@white;
		font-size: 1.2em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;
		font-family: 'Lato';

		&:hover{
			background-color: mix(@white,@flare,20%);
			border:solid 1px mix(@white,darken(@flare,8%),20%);
		}
	}

	textarea{
		width:100%;
		min-height: 150px;
		font-size: 1.0em;
		font-family: 'Lato', sans-serif;
	}
	.tag,.label,.label-info{
		background-color: @flare-dark;
		padding:5px;
		margin:5px;
	}
	.bootstrap-tagsinput{
		width:100%;
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		font-family: inherit;
		font-size:1.2em;
		input{
			border:none !important;
			display: inline !important;
			width:auto !important;
		}
	}



	input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="time"],input[type="number"],input[type="tel"],input[type="url"]{
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: 'Lato', sans-serif;
		font-size:1.2em;
	}

	label{
		width:100%;
		text-align: left;
		display: block;
	}

	select{
		width:50%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: inherit;
		font-size:1.2em;
		padding-top:6px;
		padding-bottom:6px;
		margin-bottom: 30px;
	}


}
// JMP:FORMS GLASS Forms and input -----------------------------------------------------------------------------------------------


.form-field-glass,.g-form-field{
	input[type="submit"]{
		background-color:fade(@webkore-flare, 0%);
		height:60px;
		border:solid 1px @flare;
		border-radius: 1px;
		padding-left: 28px;
		padding-right: 28px;
		padding-top:15px;
		padding-bottom:15px;
		text-decoration: none;
		line-height: 25px;
		color:@white;
		font-size: 1em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;
		font-family: 'Lato';
		text-transform: uppercase;
		transition: all 0.3s;

		&:hover{
			background-color:@webkore-flare;
			transition: all 0.5s;
		}
	}

	textarea{
		width:100%;
		min-height: 150px;
		font-size: 1.0em;
		font-family: 'Lato', sans-serif;
	}
	.tag,.label,.label-info{
		background-color: @flare-dark;
		padding:5px;
		margin:5px;
	}
	.bootstrap-tagsinput{
		width:100%;
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		font-family: inherit;
		font-size:1.2em;
		input{
			border:none !important;
			display: inline !important;
			width:auto !important;
		}
	}



	input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="time"],input[type="number"],input[type="tel"],input[type="url"]{
		width:100%;
		display: block;
		border:solid 1px @grey;
		border-radius: 2px;
		line-height: 40px;
		margin-top: 8px;
		margin-bottom: 8px;

		padding-left: 10px;
		padding-right: 10px;
		font-family: 'Lato', sans-serif;
		font-size:1em;
	}

	label{
		width:100%;
		text-align: left;
		display: block;
	}

	select{
		width:50%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: inherit;
		font-size:1.2em;
		padding-top:6px;
		padding-bottom:6px;
		margin-bottom: 30px;
	}


}


//Everything else forms

.inline-date-field{
	width:100%;
	.btn{
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		font-size: 1.2em;
		margin-top:10px;
		margin: 10px;
		cursor:pointer;
		color:@white;		
	}
	input[type=submit],a{
		display: inline-block;
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		border-left:none;
		border-right:none;
		border-top:none;
		color:@white;
		font-size: 1.2em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;
		font-weight: 400 !important;
		line-height: 50px;
		vertical-align: center;
		font-family: 'Lato';
	}
	a{
		height: 46px;
	}
}

//Switch - https://proto.io/freebies/onoff/
.option-header{
	width:70%;
	display: inline-block;
	margin-top: 30px;
}

.onoffswitch {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 20px;
	padding: 0;
	line-height: 20px;
	border: 0px solid #FFFFFF;
	border-radius: 30px;
	background-color: #9E9E9E;
}
.onoffswitch-label:before {
	content: "";
	display: block;
	width: 30px;
	margin: -5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 31px;
	border-radius: 30px;
	box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: @webkore-flare;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: @webkore-flare;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px; 
	background-color: darken(@webkore-flare,10%); 
	box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.radio-list,.checkbox-list{
	width:100%;
	padding-bottom: 25px;
	div{
		padding-top: 3px;
		padding-bottom: 3px;

		input{
			width:20px;
			display: inline-block;
		}
		label{
			width: 80%;
			display: inline-block;
		}
	}
}

// JMP:ABOX Alert Boxes ----------------------------------------------------------------------------------------------------------------

.alert{
	width:77%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;
}

//Normal
.error,.danger{ background: rgb(255,200,200); border: solid 1px rgb(130,0,0); color: rgb(100,0,0)}
.warning{ background: rgb(255,255,200); border: solid 1px rgb(130,130,0); color: rgb(100,100,0)}
.success{ background: rgb(200,255,200); border: solid 1px rgb(0,130,0); color: rgb(0,100,0)}
.info{ background: rgb(200,200,255); border: solid 1px rgb(0,0,130); color: rgb(0,0,100)}


//Glass
.g-error,.g-danger{ background: rgba(130,0,0,0.2); border: solid 1px rgb(130,0,0); color: #fff;}
.g-warning{ background: rgba(130,130,0,0.2); border: solid 1px rgb(130,130,0); color: #fff;}
.g-success{ background: rgba(0,130,0,0.2); border: solid 1px rgb(0,130,0); color: #fff;}
.g-info{ background: rgba(0,0,130,0.2); border: solid 1px rgb(0,0,130); color: #fff;}

.tc-tick{
	width:15px;
	height:15px;
	line-height: 15px;
	color: rgb(0,130,0);
}

.tc-cross{
	width:15px;
	height:15px;
	line-height: 15px;
	color: rgb(130,0,0);
}

// JMP:BTN Buttons --------------------------------------------------------------------------------------------------------

.btn{
	height:50px;
	font-weight: 300;
	padding-left: 16px;
	padding-right: 16px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	text-decoration: none;
	font-size: 1.2em;
	margin-top:10px;
	margin: 10px;
	cursor:pointer;
	color:@white;

}

.btn-delete{
	background-color: @data-red;
	border-bottom:solid 4px darken(@data-red, 10%);
	&:hover{
		background-color: mix(@white,@data-red,20%);
		border-bottom:solid 4px mix(@white,darken(@data-red, 10%),20%);
	}
}

.btn-add{
	background-color: @data-green;
	border-bottom:solid 4px darken(@data-green, 10%);
	&:hover{
		background-color: mix(@white,@data-green,20%);
		border-bottom:solid 4px mix(@white, darken(@data-green, 10%),20%);
	}
}

.btn-info{
	background-color: @webkore-flare;
	border-bottom:solid 4px darken(@webkore-flare,20%);
	&:hover{
		background-color: mix(@white,@webkore-flare,20%);
		border-bottom:solid 4px mix(@white, darken(@webkore-flare,20%),20%);
	}
}

.btn-holiday{
	background-color: @webkore-holiday;
	border-bottom:solid 4px darken(@webkore-holiday,20%);
	&:hover{
		background-color: mix(@white,@webkore-holiday,20%);
		border-bottom:solid 4px mix(@white, darken(@webkore-holiday,20%),20%);
	}
}

// JMP:SP Site Performance page stuff --------------------------------------------------------------------------------------------------------

.quick-data-square{
	width:20%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	text-align: center;
	background-color: @flare;
	color: @white;
	margin-top: 20px;
	.text{
		font-weight: 400;

	}
	.value{
		font-size: 3em;
		font-weight: 700;
	}

}

.chart{
	border:solid 2px lighten(@grey,60%);
	min-height: 50vh;
}


// JMP:CAL Calendar & Booking Page ------------------------------------------------------------------------------------------------------------


.year-picker{

	
	width:auto;
	margin-bottom: 20px;
	height:40px;
	width:100%;
	overflow: hidden;
	background-color: @webkore-menu-bg;
	

	p{
		display: inline-block;
		text-align: center;
		font-weight: 700;
		color:@white;
		width:79%;
		height:40px;
		line-height: 40px;
		margin-bottom: 0px;
		font-size: 1.4em;
		background-color: @webkore-menu-bg;
	}


	button{
		width:10%;
		height:40px;
		display: inline;
		background-color: @webkore-flare;
		border:0px;
		color: @white;
		text-shadow: 0px 2px 10px rgba(0,0,0,0.3);
		font-size: 1.4em;
		transition: all 0.2s;
		cursor: pointer;

		&.right{
			float:right;
		}


		&:active{
			background-color: darken(@webkore-flare,10%);
			transition: all 0.1s;
		}
		&:hover{
			transition: all 0.1s;
			color: lighten(@webkore-flare,30%);
		}
	}

}

#calendar{
	margin-bottom: 50px;

	table{
		td{
			text-align: center;
		}
		
	}
}

.calendar-month{
	width:30%;
	display: inline-block;
	margin-right: 1.5%;
	margin-left: 1.5%;
	overflow-x:auto;
	overflow-y: hidden;
	scrollbar-face-color: @webkore-flare;
	height:44vh;


	table{
		width:100%;
		tr{
			td{
				width:14.2%;
				text-align: center;
				border:solid 1px @webkore-box-border;

				p{
					padding-top: 30%;
					overflow: hidden;
					height:55%;
					overflow: hidden;
					margin-bottom: 13px;
					a{
						height:100%;
						display: block;
						width:100%;
						color: @white;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			th{
				background-color: @webkore-menu-bg;
				color:@white;
				font-weight: 300;
			}
		}
	}

	.month-name{
		height:40px;
		line-height: 40px;
		font-weight: light;
		background-color:@webkore-flare;
		color: @white;
		text-align: center;
	}

	.no-day{
		background-color: rgb(200,200,200);
	}

	.day{
		background-color: rgb(230,230,230);
		cursor:hand
	}

	.booked{
		background-color: @webkore-flare;
		color: @white;
	}

	.holiday{
		background-color: @webkore-holiday;
		color: @white;
	}

}

.options-box{
	width: 40%;
	top: 40%;
	left:40%;
	padding-bottom:40px;
	position: fixed;
	background-color: @webkore-box-bg;
	z-index: 10;
	box-shadow: 0px 8px 20px 5px rgba(0,0,0,0.4);
	transition:all 0.4s;
	opacity: 1;

	h3{
		width:100%;
		font-size: 1.4em;
		line-height: 60px;
		text-align: center;
		font-weight: 700;
		color: @white;
		background-color: @webkore-flare;


	}
	p{
		width:60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 20px;
		font-size: 1.2em;
	}

	.butttttons{
		text-align: center;
		width:100%;
		margin-left: 0px;
		margin-right: 0px;
	}

}
.options-background{
	width:80%;
	right:0px;
	position: fixed;
	top: 60px;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
	box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,0.6);
	transition:all 0.2s;
}

.op-hidden{
	display: none;
}

.op-fade{
	opacity: 0;
	transition:all 0.4s;
}

#calendar{
	h5{
		text-align: left;
		background-color: @webkore-flare;
		color:@white;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5%;
		width:95%;
		margin-bottom: -20px;
		font-size: 1.4em;
	}
}



// JMP:DASH ===================================================================================================================================

.dash-button{
	width:22%;
	margin-left: 1.4%;
	margin-left: 1.4%;
	margin-bottom: 1.5%;
	display: inline-block;
	background-color: @webkore-flare;
	text-decoration: none;

	 i{
	 	width:80%;
	 	margin-left: 10%;
	 	margin-top: 10%;
	 	text-align: center;
	 	font-size: 4em;
	 	color:@white;
	 }

	 p{
	 	text-align: center;
	 	font-weight: 800;
	 	margin-top: 25px;
	 	color: @white;
	 }

	 &:hover{
	 	background-color: mix(@white, @webkore-flare,35%);
	 	transition: all 0.3s;
	 }
}


.wk-update{
	
	border: solid 2px darken(@white,22%);
	margin-bottom: 50px;
	padding-bottom: 90px;


	h2{
		background-color: @flare;
		color: @white;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 5%;
		border-bottom: solid 2px darken(@white,22%);
	}

	p,ul{
		width: 90%;
		margin-left: 5%;
		margin-top: 15px;
		li{
			margin-bottom: 5px;
			width: 85%;
			margin-left: 10%;
		}
	}

	h3{
		width: 95%;
		margin-left: 2.5%;
		margin-top: 15px;
	}

	.wk-published{
		text-align: left;
		line-height: 50px;
		vertical-align: middle;
		font-style: italic;
		background-color: darken(@white,10%);
		display: inline-table;
		height:50px;
		margin-right: 5%;
		float:right;
		border-radius:8px 30px 30px 8px ;
		border:solid 2px @white;
		padding-left: 10px;


		.round-img{
			width:46px;
			height: 46px;
			margin-left: 10px;
			text-align: right;
			border-radius: 100%;
			opacity: 0.8;
			float: right;
			vertical-align: middle;
			border:solid 4px @white;

		}
	}


}


//JMP:SOCIALMEDIA =======================================================================================================================

.info-image{
	width:auto;
	display: block;
	outline: solid 2px rgba(200,200,200,1);
	padding:10px;
	box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
	margin-bottom:30px;
}

#fb-like-preview{
	iframe{
		width:100%;
		border:none;
		outline: none;
	}
}

//JMP:TABLET ============================================================================================================================

//PORTRAIT
@media only screen and (min-device-width : 600px) and (max-device-width : 800px){

	//Calendar:
		.calendar-month{
			width:100%;
			display: inline-block;
			margin-right: 1.5%;
			margin-left: 1.5%;
			overflow-x:auto;
			overflow-y: hidden;
			scrollbar-face-color: @webkore-flare;
			height:auto;
			margin-bottom: 30px;

			table{
				width:100%;
				tr{
					td{
		
						p{
							padding-top: 30%;
							height:55%;
							margin-bottom: 30px !important;
						}
					}
				}
			}


		}

	footer{
		width:100%;
		bottom:0%;
		line-height: 20px;
		position: fixed;
		margin-left: 0%;
		margin-right: 0%;
		background-color: @webkore-box-bg;
	}



}

//LANDSCAPE
@media only screen and (min-device-width : 1000px) and (max-device-width : 1280px){

	//Calendar:
	#calendar{
		overflow: visible;
	}


		.calendar-month{
			width:47%;
			display: inline-block;
			margin-right: 1.5%;
			margin-left: 1.5%;
			overflow-x:auto;
			overflow-y: hidden;
			scrollbar-face-color: @webkore-flare;
			height:65vh;

			table{
				width:100%;
				tr{
					td{
		
						p{
							padding-top: 30%;
							height:55%;
							margin-bottom: 20px !important;
						}
					}
				}
			}


	}

	footer{
		width:100%;
		bottom:0%;
		line-height: 20px;
		position: fixed;
		margin-left: 0%;
		margin-right: 0%;
		background-color: @webkore-box-bg;
	}





}

//JMP:MOBILE ============================================================================================================================
@media only screen and (min-device-width : 320px) and (max-device-width : 680px){

	body{
		font-size: 1.0em;
	}

	footer{
		width:100%;
		bottom:0%;
		line-height: 20px;
		position: fixed;
		margin-left: 0%;
		margin-right: 0%;
		background-color: @webkore-box-bg;
	}

	.mobile-vertical-only{
		width:100vw;
		height:100vh;
		position: fixed;
		display: none;
		top:0%;
		left:0%;
		background-image: url("../img/rotate.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-size: 60%;
		background-color: rgb(120,120,120);
		z-index: 10000000;

	}

	//Login Screen - Mobile
	.osc-logo{
		width:80%;
		margin-left: 10%;
		margin-top: 5vh;
		margin-bottom: 5vh;
		background-image: url("../img/mobile_logo.png");

	}

	.login-screen{
		width:90%;
		margin-top: 20vh;
		margin-left: 0%;
		margin-right: 0%;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1.0em;

		.dev-msg{
			display: block;
			padding-top: 1%;
			padding-bottom: 1%;
		}

	}

	//Menu-Layout
	

	.menubar{
		margin-top: 60px;
		width:100%;
		height: auto;
		transition:all 1s;
		z-index: 1000;

		li{
			width:25vw;
			float:left;

			a{

				line-height: 10vh;
				margin-bottom: -10%;
				display: block;
				width:100%;
				padding: 0%;
				text-align: center;
				line-height: auto;
				font-size: 1.0em;
				height: 25vw;
				font-weight: 400;
				background-color: rgba(0,0,0,0);

				.fa{
					margin-left: 0%;
					margin-right: 0%;
					margin-top: 0%;
					margin-bottom: 0%;
					position: relative;
					height:5vh;
					overflow: visible;
					left:auto;
					line-height: 10vh;
					width: 100%;
					display: block;
				}
			}
		}

		.mb-bottom{
			top: 0%;
			right:0%;
			position: absolute;
		}

		.section-title{
			margin-top: 1vh;
			width: 100%;
			height: 3vh;
			.fa{
				font-size: 1.4em;
			}
		}

		.osc-logo-mb{
			top:0%;
			left:0%;
			position: fixed;
			width: 25vw;
			background-image: none !important;
			transition: all 0.5s;
			z-index: 1001;

			.fa{
				display: block;
				width: 100%;
				height:100%;
				padding: 0%;
				line-height: 60px;
				font-size: 2em;
				overflow: hidden;
				text-align: center;
				color: @webkore-box-bg;
				transition: all 0.5s;
			}
		}

		.open-menu{
			background-color: @webkore-menu-fg-hover;
			transition: all 0.5s;
			.fa{
				transform: rotate(90deg);
				transition: all 0.8s;

			}
		}
	}

	.mobile-menubar-closed{
		top:-500%;
		transition:all 1s;
	}


	//Section (Main Content stuff)
	section{
		margin-top: 58px;
		border-width: 0px;
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
		margin-left: 0%;
		margin-right: 0%;

		h1{
			width:75vw;
			right:0%;
			left: auto;
			font-size: 1.5em;
		}

		//Calendar:
		.calendar-month{
			width:100%;
			display: inline-block;
			margin-right: 1.5%;
			margin-left: 1.5%;
			overflow-x:auto;
			overflow-y: hidden;
			scrollbar-face-color: @webkore-flare;
			height:auto;
			margin-bottom: 50px;
		}

		.options-box{
			width: 80%;
			top: 20%;
			left:10%;
			padding-bottom:40px;
			position: fixed;
			background-color: @webkore-box-bg;
			z-index: 10;
			box-shadow: 0px 8px 20px 5px rgba(0,0,0,0.4);
			transition:all 0.4s;
			opacity: 1;

			h3{
				width:100%;
				font-size: 1.4em;
				line-height: 60px;
				text-align: center;
				font-weight: 700;
				color: @white;
				background-color: @webkore-flare;


			}
			p{
				width:90%;
				margin-left: 5%;
				margin-top: 20px;
				font-size: 1.2em;
			}

			.butttttons{
				a{
					display: block;
				}
				text-align: center;
				width:100%;
				margin-left: 0px;
				margin-right: 0px;
			}

		}
		.options-background{
			width:100vw;
			right:0px;
			position: fixed;
			top: 60px;
			height: 100vh;
			background-color: rgba(0,0,0,0.4);
			box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,0.6);
			transition:all 0.2s;
		}

		.op-hidden{
			display: none;
		}

		.op-fade{
			opacity: 0;
			transition:all 0.4s;
		}

		//Tables... Yes, they are cunts...
		.list{
			table{
				width:100%;
				margin-top: 20px;
				margin-bottom: 20px;
				border:none;
				border-collapse: collapse;

				tbody{
					width:100%;
				}
	
				tr{
					width:100%;
					height:60px;
					overflow: hidden;
	
					th{
						text-align: center;
						background-color: @flare;
						color:@white;
						text-overflow: ellipse;
					}
	
					td{
						padding:0px;
						font-size: 1em;
					}
	
					.mobile-hidden{
						display: none;
					}
					.table-actions{
						text-align: center;
					}
				}
	
				tr:nth-child(odd){
					background-color: lighten(@grey,80%);
				}
			}

			.btn-add{
				width:100%;
			}
		}

	//Image Uploads:
	.images{
		margin-bottom: 10vw;
		.g-image{
			width:48%;
			border: solid 0px @white;
			
		}
		.banner-image{
			border: solid 0px @white;
			
		}
		a{
			opacity: 0.2;
		}
	}	

	//Dashboard and logs "layout"
	.dash-button{
		width:47%;
		margin-left: 0%;
		margin-right: 2%;
		padding-top: 8vw;
		height: 35vw;
		font-size: 0.8em;

	}


	//end of <section>
	}



//end of mobile... No seriously!
}