//LESS Functions & Animation Modules ------------------------------
// JMP:FUNCT
.fade-in{
	animation: fade-in 1s 1;

}

.data-green{
	color:@data-green;
	text-align: center;
}
.data-red{
	color:@data-red;
	text-align: center;
}

.deleted{
	transition:all 1s;
	opacity: 0;
	height: 0px !important;
	overflow: hidden;

}

@keyframes fade-in{
	0%{
		opacity: 0;
	}

	30%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
.box-style{
	box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.15);
	border:solid 2px @webkore-box-border;
	background-color: @webkore-box-bg;
	border-radius: 3px;
}