//JMP:MOBILE ============================================================================================================================
@media only screen and (min-device-width : 320px) and (max-device-width : 680px){

	body{
		font-size: 1.0em;
	}

	footer{
		width:100%;
		bottom:0%;
		line-height: 20px;
		position: fixed;
		margin-left: 0%;
		margin-right: 0%;
		background-color: @webkore-box-bg;
	}

	.mobile-vertical-only{
		width:100vw;
		height:100vh;
		position: fixed;
		display: none;
		top:0%;
		left:0%;
		background-image: url("../img/rotate.png");
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-size: 60%;
		background-color: rgb(120,120,120);
		z-index: 10000000;

	}

	//Login Screen - Mobile
	.osc-logo{
		width:80%;
		margin-left: 10%;
		margin-top: 5vh;
		margin-bottom: 5vh;
		background-image: url("../img/mobile_logo.png");

	}

	.login-screen{
		width:90%;
		margin-top: 20vh;
		margin-left: 0%;
		margin-right: 0%;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1.0em;

		.dev-msg{
			display: block;
			padding-top: 1%;
			padding-bottom: 1%;
		}

	}

	//Menu-Layout
	

	.menubar{
		margin-top: 60px;
		width:100%;
		height: auto;
		transition:all 1s;
		z-index: 1000;

		li{
			width:25vw;
			float:left;

			a{

				line-height: 10vh;
				margin-bottom: -10%;
				display: block;
				width:100%;
				padding: 0%;
				text-align: center;
				line-height: auto;
				font-size: 1.0em;
				height: 25vw;
				font-weight: 400;
				background-color: rgba(0,0,0,0);

				.fa{
					margin-left: 0%;
					margin-right: 0%;
					margin-top: 0%;
					margin-bottom: 0%;
					position: relative;
					height:5vh;
					overflow: visible;
					left:auto;
					line-height: 10vh;
					width: 100%;
					display: block;
				}
			}
		}

		.mb-bottom{
			top: 0%;
			right:0%;
			position: absolute;
		}

		.section-title{
			margin-top: 1vh;
			width: 100%;
			height: 3vh;
			.fa{
				font-size: 1.4em;
			}
		}

		.osc-logo-mb{
			top:0%;
			left:0%;
			position: fixed;
			width: 25vw;
			background-image: none !important;
			transition: all 0.5s;
			z-index: 1001;

			.fa{
				display: block;
				width: 100%;
				height:100%;
				padding: 0%;
				line-height: 60px;
				font-size: 2em;
				overflow: hidden;
				text-align: center;
				color: @webkore-box-bg;
				transition: all 0.5s;
			}
		}

		.open-menu{
			background-color: @webkore-menu-fg-hover;
			transition: all 0.5s;
			.fa{
				transform: rotate(90deg);
				transition: all 0.8s;

			}
		}
	}

	.mobile-menubar-closed{
		top:-500%;
		transition:all 1s;
	}


	//Section (Main Content stuff)
	section{
		margin-top: 58px;
		border-width: 0px;
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
		margin-left: 0%;
		margin-right: 0%;

		h1{
			width:75vw;
			right:0%;
			left: auto;
			font-size: 1.5em;
		}

		//Calendar:
		.calendar-month{
			width:100%;
			display: inline-block;
			margin-right: 1.5%;
			margin-left: 1.5%;
			overflow-x:auto;
			overflow-y: hidden;
			scrollbar-face-color: @webkore-flare;
			height:auto;
			margin-bottom: 50px;
		}

		.options-box{
			width: 80%;
			top: 20%;
			left:10%;
			padding-bottom:40px;
			position: fixed;
			background-color: @webkore-box-bg;
			z-index: 10;
			box-shadow: 0px 8px 20px 5px rgba(0,0,0,0.4);
			transition:all 0.4s;
			opacity: 1;

			h3{
				width:100%;
				font-size: 1.4em;
				line-height: 60px;
				text-align: center;
				font-weight: 700;
				color: @white;
				background-color: @webkore-flare;


			}
			p{
				width:90%;
				margin-left: 5%;
				margin-top: 20px;
				font-size: 1.2em;
			}

			.butttttons{
				a{
					display: block;
				}
				text-align: center;
				width:100%;
				margin-left: 0px;
				margin-right: 0px;
			}

		}
		.options-background{
			width:100vw;
			right:0px;
			position: fixed;
			top: 60px;
			height: 100vh;
			background-color: rgba(0,0,0,0.4);
			box-shadow: inset 0px 0px 200px 200px rgba(0,0,0,0.6);
			transition:all 0.2s;
		}

		.op-hidden{
			display: none;
		}

		.op-fade{
			opacity: 0;
			transition:all 0.4s;
		}

		//Tables... Yes, they are cunts...
		.list{
			table{
				width:100%;
				margin-top: 20px;
				margin-bottom: 20px;
				border:none;
				border-collapse: collapse;

				tbody{
					width:100%;
				}
	
				tr{
					width:100%;
					height:60px;
					overflow: hidden;
	
					th{
						text-align: center;
						background-color: @flare;
						color:@white;
						text-overflow: ellipse;
					}
	
					td{
						padding:0px;
						font-size: 1em;
					}
	
					.mobile-hidden{
						display: none;
					}
					.table-actions{
						text-align: center;
					}
				}
	
				tr:nth-child(odd){
					background-color: lighten(@grey,80%);
				}
			}

			.btn-add{
				width:100%;
			}
		}

	//Image Uploads:
	.images{
		margin-bottom: 10vw;
		.g-image{
			width:48%;
			border: solid 0px @white;
			
		}
		.banner-image{
			border: solid 0px @white;
			
		}
		a{
			opacity: 0.2;
		}
	}	

	//Dashboard and logs "layout"
	.dash-button{
		width:47%;
		margin-left: 0%;
		margin-right: 2%;
		padding-top: 8vw;
		height: 35vw;
		font-size: 0.8em;

	}


	.quick-data-square{
		height:140px;
		width:45%;
		margin-top: 10px;
		margin-left: 2%;
		margin-right: 2%;
	
		.text{
			height:50px;
			margin-bottom: 0px;
			overflow: hidden;
		}
	}


	//end of <section>
	}



//end of mobile... No seriously!
}