/*
 __          __  _     _                    _      ______  _____ _____ 
 \ \        / / | |   | |                  | |    |  ____|/ ____/ ____|
  \ \  /\  / /__| |__ | | _____  _ __ ___  | |    | |__  | (___| (___  
   \ \/  \/ / _ \ '_ \| |/ / _ \| '__/ _ \ | |    |  __|  \___ \\___ \ 
    \  /\  /  __/ |_) |   < (_) | | |  __/ | |____| |____ ____) |___) |
     \/  \/ \___|_.__/|_|\_\___/|_|  \___| |______|______|_____/_____/ 

===========================================================================================================================
Created By: Jamie Overington
Copyright: 2016 - 2019
Created: 01/02/2016

Contains the main stylesheet for the system.
Contains the main colours for the system...
Includes Google Font -> Lato
Includes Bootstrap TagsInput

Requires LESS to compile.

===========================================================================================================================

*/

@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700');
@import url(bootstrap-tagsinput.css);

//WebKore Flare & BG Colours: http://paletton.com/#uid=13-0u0kK3J7mvLhsVKaKjs-LAme
@webkore-flare:rgb(8, 108, 205);
@webkore-bg:  rgb(9, 22, 35); //http://paletton.com/#uid=13-0u0kpk6Kg+dblf9Zu43TFZ1y

//WebKore Box Styles: http://paletton.com/#uid=13-1g0k6ati2yHZ4fyk8epZajmR
@webkore-box-bg: rgb(255,255,255);
@webkore-box-border: rgb(194, 194, 194); //rgb(218, 222, 226)

//WebKore Menu: http://paletton.com/#uid=13z0u0keL9w99k8a0dEk083pl5Q
@webkore-menu-bg: rgb(28, 39, 49);
@webkore-menu-fg: rgb(159, 168, 176);
@webkore-menu-fg-hover: rgb(144, 200, 255);
@webkore-logo-bg: rgb(50, 61, 70);


//Menu Width:
@menu-width: 20%;

//Odd Colours :P haha:
@webkore-holiday: mix(rgb(255,0,0),@webkore-flare);

@data-green: rgba(80,200,80,1);
@data-yellow: rgba(200,200,80,1);
@data-red: rgba(200,80,80,1);
@data-grey: rgba(200,200,200,1);

//OLD Colours:
@flare: @webkore-flare;	/* Main Primary color */
@flare-dark: rgba(3, 57, 109,1);


@white: #fff;
@black: #000;
@grey: rgba(0,0,0,0.3);


// 2019 Glass UI Look:

@glass-ui-bg-1: rgba(26,52,79,0.60);
@glass-ui-bg-2: rgba(9,22,35,0.60);
@glass-ui-bg-3: rgba(0,66,132,0.60) ;
@glass-ui-menu: ;

//LESS Mass-compile stylesheet

@import "webkore_calendar.less";
@import "webkore_forms.less";
@import "webkore_ete.less";
@import "webkore_func.less";
@import "webkore_alerts.less";
@import "webkore_performance.less";
@import "webkore_social.less";

//Mobile views:
@import "webkore_mobile.less";
@import "webkore_tablet.less";


//Custom CSS Scrollbars -------------------------------------------------------------

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    transition: width 0.8s;
}
::-webkit-scrollbar-track{
	background-color: @webkore-bg;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.4);
    border-radius:20px;
    transform: translate(-17px);

    transition:all 0.3s;
    &:hover {
    	background-color:rgba(255,255,255,0.6);
	}
}

//Generic -------------------------------------------------------------

*{
	margin: 0px;
	padding: 0px;

}

body{
	font-family: 'Sarabun', sans-serif;
	background-color: @webkore-bg;
	font-size: 1.0em;
	//color: 	@white;
}

.NyanCat{
	background-image:url('../img/nyan.gif');
	background-size: 35%;
	background-position: center center;
}