// JMP:SP Site Performance page stuff --------------------------------------------------------------------------------------------------------

.quick-data-square{
	width:20%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	text-align: center;
	background-color: @flare;
	color: @white;
	margin-top: 20px;
	.text{
		font-weight: 400;

	}
	.value{
		font-size: 3em;
		font-weight: 700;
	}

}

.chart{
	border:solid 2px lighten(@grey,60%);
	min-height: 50vh;
}


