// JMP:FORMS Forms and input -----------------------------------------------------------------------------------------------


.form-field{
	input[type="submit"]{
		
		height:50px;
		background-color: @flare;
		border:solid 1px darken(@flare,8%);
		border-radius: 4px;
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		color:@white;
		font-size: 1.2em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;
		font-family: 'Lato';

		&:hover{
			background-color: mix(@white,@flare,20%);
			border:solid 1px mix(@white,darken(@flare,8%),20%);
		}
	}

	textarea{
		width:100%;
		min-height: 150px;
		font-size: 1.0em;
		font-family: 'Lato', sans-serif;
	}
	.tag,.label,.label-info{
		background-color: @flare-dark;
		padding:5px;
		margin:5px;
	}
	.bootstrap-tagsinput{
		width:100%;
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		font-family: inherit;
		font-size:1.2em;
		input{
			border:none !important;
			display: inline !important;
			width:auto !important;
		}
	}



	input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="time"],input[type="number"],input[type="tel"],input[type="url"]{
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: 'Lato', sans-serif;
		font-size:1.2em;
	}

	label{
		width:100%;
		text-align: left;
		display: block;
	}

	select{
		width:50%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: inherit;
		font-size:1.2em;
		padding-top:6px;
		padding-bottom:6px;
		margin-bottom: 30px;
	}


}
// JMP:FORMS GLASS Forms and input -----------------------------------------------------------------------------------------------


.form-field-glass,.g-form-field{
	input[type="submit"]{
		background-color:fade(@webkore-flare, 0%);
		height:60px;
		border:solid 1px @flare;
		border-radius: 1px;
		padding-left: 28px;
		padding-right: 28px;
		padding-top:15px;
		padding-bottom:15px;
		text-decoration: none;
		line-height: 25px;
		color:@white;
		font-size: 1em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;
		font-family: 'Lato';
		text-transform: uppercase;
		transition: all 0.3s;

		&:hover{
			background-color:@webkore-flare;
			transition: all 0.5s;
		}
	}

	textarea{
		width:100%;
		min-height: 150px;
		font-size: 1.0em;
		font-family: 'Lato', sans-serif;
	}
	.tag,.label,.label-info{
		background-color: @flare-dark;
		padding:5px;
		margin:5px;
	}
	.bootstrap-tagsinput{
		width:100%;
		width:100%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		font-family: inherit;
		font-size:1.2em;
		input{
			border:none !important;
			display: inline !important;
			width:auto !important;
		}
	}



	input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="time"],input[type="number"],input[type="tel"],input[type="url"]{
		width:100%;
		display: block;
		border:solid 1px @grey;
		border-radius: 2px;
		line-height: 40px;
		margin-top: 8px;
		margin-bottom: 8px;

		padding-left: 10px;
		padding-right: 10px;
		font-family: 'Lato', sans-serif;
		font-size:1em;
	}

	label{
		width:100%;
		text-align: left;
		display: block;
	}

	select{
		width:50%;
		display: block;
		border:solid 1px @grey;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: inherit;
		font-size:1.2em;
		padding-top:6px;
		padding-bottom:6px;
		margin-bottom: 30px;
	}


}


//Everything else forms

.inline-date-field{
	width:100%;
	.btn{
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		font-size: 1.2em;
		margin-top:10px;
		margin: 10px;
		cursor:pointer;
		color:@white;		
	}
	input[type=submit],a{
		display: inline-block;
		padding-left: 16px;
		padding-right: 16px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-decoration: none;
		border-left:none;
		border-right:none;
		border-top:none;
		color:@white;
		font-size: 1.2em;
		margin-top:10px;
		margin-bottom: 10px;
		cursor:pointer;
		font-weight: 400 !important;
		line-height: 50px;
		vertical-align: center;
		font-family: 'Lato';
	}
	a{
		height: 46px;
	}
}

//Switch - https://proto.io/freebies/onoff/
.option-header{
	width:70%;
	display: inline-block;
	margin-top: 30px;
}

.onoffswitch {
	display: inline-block;
	position: relative;
	width: 55px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 20px;
	padding: 0;
	line-height: 20px;
	border: 0px solid #FFFFFF;
	border-radius: 30px;
	background-color: #9E9E9E;
}
.onoffswitch-label:before {
	content: "";
	display: block;
	width: 30px;
	margin: -5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 31px;
	border-radius: 30px;
	box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: @webkore-flare;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: @webkore-flare;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px; 
	background-color: darken(@webkore-flare,10%); 
	box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.radio-list,.checkbox-list{
	width:100%;
	padding-bottom: 25px;
	div{
		padding-top: 3px;
		padding-bottom: 3px;

		input{
			width:20px;
			display: inline-block;
		}
		label{
			width: 80%;
			display: inline-block;
		}
	}
}
