// JMP:ABOX Alert Boxes ----------------------------------------------------------------------------------------------------------------

.alert{
	width:77%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;
}

//Normal
.error,.danger{ background: rgb(255,200,200); border: solid 1px rgb(130,0,0); color: rgb(100,0,0)}
.warning{ background: rgb(255,255,200); border: solid 1px rgb(130,130,0); color: rgb(100,100,0)}
.success{ background: rgb(200,255,200); border: solid 1px rgb(0,130,0); color: rgb(0,100,0)}
.info{ background: rgb(200,200,255); border: solid 1px rgb(0,0,130); color: rgb(0,0,100)}


//Glass
.g-error,.g-danger{ background: rgba(130,0,0,0.2); border: solid 1px rgb(130,0,0); color: #fff;}
.g-warning{ background: rgba(130,130,0,0.2); border: solid 1px rgb(130,130,0); color: #fff;}
.g-success{ background: rgba(0,130,0,0.2); border: solid 1px rgb(0,130,0); color: #fff;}
.g-info{ background: rgba(0,0,130,0.2); border: solid 1px rgb(0,0,130); color: #fff;}

.tc-tick{
	width:15px;
	height:15px;
	line-height: 15px;
	color: rgb(0,130,0);
}

.tc-cross{
	width:15px;
	height:15px;
	line-height: 15px;
	color: rgb(130,0,0);
}

// JMP:BTN Buttons --------------------------------------------------------------------------------------------------------

.btn{
	height:50px;
	font-weight: 300;
	padding-left: 16px;
	padding-right: 16px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	text-decoration: none;
	font-size: 1.2em;
	margin-top:10px;
	margin: 10px;
	cursor:pointer;
	color:@white;

}

.btn-delete{
	background-color: @data-red;
	border-bottom:solid 4px darken(@data-red, 10%);
	&:hover{
		background-color: mix(@white,@data-red,20%);
		border-bottom:solid 4px mix(@white,darken(@data-red, 10%),20%);
	}
}

.btn-add{
	background-color: @data-green;
	border-bottom:solid 4px darken(@data-green, 10%);
	&:hover{
		background-color: mix(@white,@data-green,20%);
		border-bottom:solid 4px mix(@white, darken(@data-green, 10%),20%);
	}
}

.btn-info{
	background-color: @webkore-flare;
	border-bottom:solid 4px darken(@webkore-flare,20%);
	&:hover{
		background-color: mix(@white,@webkore-flare,20%);
		border-bottom:solid 4px mix(@white, darken(@webkore-flare,20%),20%);
	}
}

.btn-holiday{
	background-color: @webkore-holiday;
	border-bottom:solid 4px darken(@webkore-holiday,20%);
	&:hover{
		background-color: mix(@white,@webkore-holiday,20%);
		border-bottom:solid 4px mix(@white, darken(@webkore-holiday,20%),20%);
	}
}
