/*

Included:
Animate.css - https://daneden.github.io/animate.css/
Palette: http://paletton.com/#uid=52h0u0kpoqjfsz5kusLs3ldwGgk

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/


/*INCLUDES*/
//@import 'animate.css';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


@font-face {
  font-family: Basil;
  src: url(basilico.ttf);
}


/*

font-family: 'Merriweather', serif;
font-family: 'Josefin Sans', sans-serif;

*/

/* COLOURS */
@main-1:#fff;
@flare:#89b03f;
@flare2:#5D782B;


@svg-stroke: rgba(255,255,255,1);
@svg-fill:             #fff;
@background: @main-1;
//@background: rgba(250,250,250,1);

@black: rgb(0,0,0);
@white: rgb(255,255,255);
@gray: rgb(100,100,100);

@success:rgb(100,255,100);
@error: rgb(255,100,100);

*{
	margin:0%;
	padding: 0%;
}

body{
	background-color: @background;
	font-family: 'Poppins', sans-serif;
	font-size: 1.0em;
	//background-color: @white;


}

.phone-number-logo{
	text-align: center;
	a{
		color: @flare;
		text-decoration: none;
		font-size: 1.2em;
	}
}

.logo-top{
	position:relative;
	font-family: 'Poppins', sans-serif;
	width:100%;
	height:15vh;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
	font-size: 4.6em;
	color:@white;
	text-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	user-select: none;
	overflow: hidden;
	svg{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%
	}
}

.logo-top-home{
	position:relative;
	font-family: 'Poppins', sans-serif;
	width:100%;
	height:15vh;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
	font-size: 4.6em;
	color:@white;
	text-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	user-select: none;
	overflow: hidden;
	svg{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		opacity: 0;
		animation:fade 1s ease-in forwards;

		#logo_c{
			transform: translatex(-25px);
			animation:intro_c 1.5s ease-out forwards;
			animation-delay: 1s;

		}
		#logo_o{
			transform: translatex(-25px);
			animation:intro_o 1.5s ease-out forwards;
			animation-delay: 1s;

		}
		#logo_green_dot{
			transform: translate(-38px,-139px);
			animation:intro_dot 1.5s ease-in forwards;
			animation-delay: 1s;
		}
	}
}

.menu-home{
	opacity: 0;
	animation:fade 1.5s ease-in forwards;
	animation-delay: 2.5s;
}



@keyframes intro_c{
	0%{
		transform: translatex(-25px);
	}
	50%{
		transform: translatex(0px);
	}
	100%{
		transform: translatex(0px);
	}
}

@keyframes intro_o{
	0%{
		transform: translatex(-25px);
	}
	50%{
		transform: translatex(0px);
	}
	100%{
		transform: translatex(0px);
	}
}

@keyframes intro_dot{
	0%{
		transform: translate(0px,-1000px);
	}
	90%{
		transform: translate(0px,0px);
	}
	95%{
		transform: translate(0px,8px);
	}
	100%{
		transform: translate(0px,0px);
	}
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

//Video Top - OnTheRoad
.video-top{
	user-select: none;
  object-fit: cover;
  width: 100%;

  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}



//Menu:

.menu-bar{
	width:100%;
	background-color: @background;
	height:80px;
	margin-top: 40px;
	font-family: 'Poppins', sans-serif;
	font-size: 1.4em;
	z-index: 10;
	user-select: none;
	text-align: center;
	ul{
		li{
			display: inline-block;

			a{
				height:40px;
				line-height: 40px;
				display: inline-block;
				padding-left: 20px;
				padding-right: 20px;
				text-decoration: none;
				color: @black;
				border-bottom:solid 0px @white;
				transition: all 0.3s;
				text-decoration: none;
				text-transform: uppercase;

				&:hover{
					transition: all 0.2s ease-in-out;
					color:#aaa;
				}
			}
		}
	}
}

//content:

.fotos{



	width: 100%;
	height:350px;
	display: block;
	//background-color: #0f0;
	min-height: 300px;
	overflow: hidden;
	background-size: cover;

	.image{
		//background: #ff0;
		height:300px;
		width:30%;
		margin-left: 1.5%;
		margin-right:1.5%;
		display: inline-block;
		background-size: cover;
		background-position:center center;
		overflow: hidden;
		box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2)
	}
	.img1{
		opacity: 0;
		animation:fade 1.5s ease-in forwards;
		animation-delay: 3s;
	}
	.img2{
		opacity: 0;
		animation:fade 1.5s ease-in forwards;
		animation-delay: 3.5s;
	}
	.img3{
		opacity: 0;
		animation:fade 1.5s ease-in forwards;
		animation-delay: 4s;
	}
}

.fade-content{
	opacity: 0;
	animation:fade 1.5s ease-in forwards !important;
	animation-delay: 4.5s !important;
}
.content{
	opacity: 0;
	animation:fade 0.8s ease-in forwards;
	z-index: 9;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	font-size: 1.3em;
	padding-bottom:30vh;

	h1{
		font-family: Basil;
		font-size: 3em;
		color: @flare;
		margin-bottom: -10px;
	}
	br{
		height:30px;
	}
	h2{
	}
	h3{
	}
	a{
		text-decoration: none;
		border-bottom:dotted 2px;
		color:@flare2;
		transition: color 0.3s;

		&:hover{
			color:@flare;
			transition: color 0.1s;
		}
	}

}


//Footer:
footer{
	width:70%;
	padding-left:15%;
	padding-right: 15%;
	min-height:160px;

	background-color: #000;
	color: @white;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 50px;
	line-height: 20px;
	float: left;
	position: relative;
	bottom:0px;
	vertical-align: baseline;
	font-size: 1.2em;
	border-top: solid 2px @main-1;
	user-select: none;
	font-family: 'Poppins', sans-serif;

	.left{
		width: 40%;
		float: left;
		line-height: 30px;
		padding-top: 30px;
		text-align: left;
		ul{
			li{
				display: block;
			}
		}
		p{
			font-weight: bold;
		}
	}

	.copyright{
		width: 40%;
		float: right;
		line-height: 30px;
		padding-top: 30px;
		text-align: center;
	}

	a{
		text-decoration: none;
		border-bottom:dotted 2px;
		color:@flare;
		transition: color 0.3s;

		&:hover{
			color:@flare2;
			transition: color 0.1s;
		}
	}

	h3{
		a{
			color:@flare;
			text-decoration: none;
			font-size: 1.2em;
			font-weight: 300;
			line-height: 30px;
			transition: color 0.3s;

			.fa{
				font-size: 1.5em;
				width:50px;
				height:30px;
				text-align: center;
			}
		}
		&:hover{
			a{
				border-bottom:dotted 3px @flare2;
				color:@flare2;
				transition: color 0.1s;
			}
		}
	}
}


/* Gallery */

#gallery-photo-mode{
	text-align: center;
	margin-top: 5vw;
	margin-bottom: 30vh;
	.image{
		width:33%;
		display: inline-block;
		height:320px;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
		transition: all 0.5s;
		box-shadow: 0px 0px 0px 1px @background;
		outline: solid 0px @white;
		z-index: 1;
		&:hover{
			cursor: hand;
			transition: all 0.5s;
			transform: rotate(-2deg) scale(1.3);
			z-index: 10;
			outline: solid 4px rgb(237, 237, 225);
			box-shadow: 0px 0px 10px 0px rgb(0,0,0,0.2)


		}
	}
}

.loading-image{
	width:100%;
	height:100%;
	text-align: center;

	background-color: rgba(0,0,0,0.7);
	color: @flare !important;
	font-size: 1.8em;
	margin:0px !important;
}


/* Contact Form (Book A Table Page) */
//Contact Page:

.contact-top{
	width: 100%;
	display: block;
	height: 500px;
}

.contact-left{
	max-width:30%;
	height:500px;
	min-width: 340px;
	float: left;
	display: inline-block;
}
.contact-right{
	max-width:70%;
	width: 50%;
	min-width:50%;
	height:500px;
	float: right;
	display: inline-block;
	outline: solid 1px rgb(230,230,230);
	#map{
		width:100%;
		height: 100%;
	}
}

.form{
	width:100%;
	margin-top: 25px;

}

.input-container{

	label{
		color:@black;
		width:100%;
		line-height: 20px;
		display: block;
		box-sizing: border-box;
		font-size: 0.9em;
	}
	input,textarea{
		width:auto;
		padding:5px;
		margin-top: 10px;
		margin-bottom: 25px;
		border-top:none;
		border-left:none;
		border-right:none;
		border-bottom:3px dotted @flare;
		color: darken(@flare,20%);
		font-size:0.9em;
		font-family: 'Poppins', sans-serif;
		&:focus{
			border-color: @flare;
			box-shadow: 0px 0px 0px 0px @flare;
			outline-color: rgba(0,0,0,0);
			-webkit-column-rule-color: @flare;
		}
	}

	input:not([type="time"]),textarea{
		width:100%;

	}

	input[type=submit]{
		background-color: @white;
		border-radius:3px;
		border: solid 2px @flare;
		color: @flare;
		width:30%;
		float:right;
		cursor: hand;

	}

	textarea{
		min-height: 180px;
	}
}


.required{
	color: rgb(200,0,0) !important;
}


.form-error,.form-sent{
	padding: 10px;
	text-align: center;
	border: solid 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	p{
		margin:0px;
	}
}
.form-sent{
	border-color: darken(@success,40%);
	background-color: @white;
	color: darken(@success,40%)
}

.form-error{
	border-color: darken(@error,40%);
	background-color: @white;
	color: darken(@error,40%);
}



//MOBILE PORT --------------------------------
@media only screen
and (min-device-width : 690px)
and (max-device-width : 1024px) {
	body{
		font-size: 1.3em ;

	}

	.content{
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
	}

	.menu-bar{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	footer{
		.left,.copyright{
			width: 80%;
			padding-left:10%;
			padding-right:10%;
			text-align: center;
		}
	}

	#gallery-photo-mode{
		.image{
			width:45% !important;
			height:170px !important;
			&:hover{
				transform: scale(1.6) !important;
				outline: solid 4px @white;
				box-shadow:0px 0px 30px 3px @black;


			}
		}
	}
	.fotos{

		.image{
			height:300px;
			width:30%;
			margin-top: 20px;
			margin-left: 1.3%;
			margin-right:1.3%;
		}
	}

	.contact-top{
		width: 100%;
		display: block;
		height: 500px;
	}

	.contact-left{
		max-width:50%;
		height:500px;
		min-width: 340px;
		float: left;
		display: inline-block;
	}
	.contact-right{
		max-width:50%;
		width: 50%;
		min-width:50%;
		height:500px;
		float: right;
		display: inline-block;
		outline: solid 1px rgb(230,230,230);
		#map{
			width:100%;
			height: 100%;
		}
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 689px) {

	body{
		h1{
			font-size: 2em !important;
			margin-bottom: 30px;
		}
		h2{
			font-size: 1.8em !important;
		}
	}

	.logo-top,.logo-top-home{
		padding-top:0px;
		padding-bottom:0px;
	}

	.menu-bar{
		height:auto;
		margin-top: 10px;
		margin-bottom: 10px;

		ul{
			li{
				width:100%;
				display: block;
				a{
					width:100%;
					padding-left:0px !important;
					padding-right:0px !important;
				}
			}
		}
	}

	.fotos{
		height: auto;
		.image{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 10vw;
		}
	}

	#gallery-photo-mode{
		.image{
			width:45% !important;
			height:150px !important;
			&:hover{
				transform: scale(1.6) !important;
				outline: solid 4px @white;
				box-shadow:0px 0px 30px 3px @black;


			}
		}
	}

	.contact-top{
		width: 100%;
		display: block;
		height: 1040px;
	}

	.contact-left{
		max-width:100%;
		height:500px;
		width: 100%;
		min-width: 100%;
		float: left;
		display: inline-block;
	}
	.contact-right{
		margin-top: 30px;
		max-width:100%;
		height:500px;
		width: 100%;
		min-width: 100%;
		height:400px;
		float: right;
		display: inline-block;
		outline: solid 1px rgb(230,230,230);
		#map{
			width:100%;
			height: 100%;
		}
	}

	footer{
		.left,.copyright{
			width: 80%;
			padding-left:10%;
			padding-right:10%;
			text-align: center;
		}
	}
}
